<div class="ibox-tools dropdown pull-right" dropdown>

    <a class="previous-arrow"
       ng-click="qe.previous()"
       uib-tooltip="{{ 'Previous'| translate }}">
        <i class="fa fa-chevron-left"></i>
    </a>

    <a class="button-load-more active"
       ng-click="qe.loadNextItems()"
       uib-tooltip="{{ 'Load more items'| translate }}">
        <i class="fa fa-plus"></i>
    </a>

    {{qe.offset+1}}-{{qe.offset+data.documents.length}} / {{data.total}}

    <a class="next-arrow"
       ng-click="qe.next()"
       uib-tooltip="{{ 'Next'| translate }}">
        <i class="fa fa-chevron-right"></i>
    </a>

    <a class="dropdown-toggle"
       ng-class="{'active':qe.isSavedQuery()}"
       uib-tooltip="{{ 'Filters'| translate }}"
       data-toggle="dropdown">
        <i class="fa fa-filter"></i>
    </a>

    <ul class="dropdown-menu dropdown-user">
        <li ng-click="qe.setQuery()">
            <a href><i class="fa fa-remove"></i> <span translate>No filter</span></a>
        </li>

        <li role="separator" class="divider"></li>

        <li ng-repeat="query in currentUser.profile.params.queries"
            ng-click="qe.setQuery(query)"
            ng-class="{active:query.name===qe.currentQuery.name}">

            <a ng-if="query.name" href>{{query.name}}</a>
            <a ng-if="!query.name" href><i>* no name *</i></a>
        </li>

        <li ng-if="!currentUser.isAnonymous" role="separator" class="divider"></li>

        <li ng-if="!currentUser.isAnonymous">
            <a ui-sref="me"><i class="fa fa-gear"></i> <span translate>Parameters</span></a>
        </li>
    </ul>
</div>
