<nav class="navbar navbar-static-top white-bg" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a ui-sref="home" class="navbar-brand">
            <i class="fa fa-home"></i>
            BaseCamp
        </a>
    </div>

    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">

            <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-cubes"></i>
                    <span translate>Topo</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ui-sref-active="active">
                        <a ui-sref="outings">
                            <i class="fa fa-file-image-o"></i>
                            <span class="nav-label" translate>Outings</span>
                        </a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="routes">
                            <i class="fa fa-road"></i> <span class="nav-label" translate>Routes</span>
                        </a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="waypoints">
                            <i class="fa fa-map-marker"></i> <span class="nav-label" translate>Waypoints</span>
                        </a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="areas">
                            <i class="fa fa-map-o"></i> <span class="nav-label" translate>Areas</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-star"></i>
                    <span translate>Portals</span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">

                    <li ui-sref-active="active">
                        <a ui-sref="portal_icefall">
                            <i class="fa fa-snowflake-o"></i>
                            <span class="nav-label">Cascade de glace</span>
                        </a>
                    </li>


                    <li ui-sref-active="active">
                        <a ui-sref="portal_bigmountain">
                            <i class="fa fa-snowflake-o"></i>
                            <span class="nav-label">Grandes courses</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-rocket"></i>
                    <span translate>Misc</span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">

                    <li ui-sref-active="active">
                        <a ui-sref="articles">
                            <i class="fa fa-file-text-o"></i> <span class="nav-label" translate>Articles</span>
                        </a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="xreports">
                            <i class="fa fa-warning"></i>
                            <span class="nav-label" translate>Incidents</span>
                        </a>
                    </li>

                    <li role="separator" class="divider"></li>

                    <li>
                        <a href="https://forum.camptocamp.org/users/CharlesB/summary" target="_blank">
                            <i class="fa fa-phone"></i> <span class="nav-label" translate>Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://forum.camptocamp.org/t/v6-faites-evoluer-la-maquette-avec-nous/183795/10000"
                           target="_blank">
                            <i class="fa fa-bug"></i> <span class="nav-label" translate>Report a bug</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="statistics">
                            <i class="fa fa-bar-chart"></i> <span class="nav-label" translate>Statistics</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="{{ 'Search' | translate }}"
                       ng-controller="searchController"
                       ng-model="data.query"
                       ng-keyup="search()"
                />
            </div>
        </form>

        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown" ng-controller="languageController">
                <a class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <img width="16" height="16" src="static/campui/img/flags/16/{{getCurrentLanguage()}}.png"/>
                    {{getCurrentLanguage()}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="setCurrentLanguage('en')">
                            <img width="32" height="32" src="static/campui/img/flags/32/en.png"/> en
                        </a>
                    </li>
                    <li>
                        <a ng-click="setCurrentLanguage('fr')">
                            <img width="32" height="32" src="static/campui/img/flags/32/fr.png"/> fr
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
