<div class="form-group  col-md-3" uib-tooltip="{{ 'Activities'| translate }}">
    <ui-select multiple
               theme="bootstrap"
               class="form-control"
               close-on-select="false"
               on-select="qe.apply()"
               on-remove="qe.apply()"
               ng-model="qe.queryModel.act">
        <ui-select-match placeholder="{{'Activities...' | translate}}">
            <img ng-src="/static/img/{{$item}}-16x16.png" width="16px">
        </ui-select-match>
        <ui-select-choices
                repeat="act in qe.metadata.activities">
            <span value="act">{{act | translate}}</span>
        </ui-select-choices>
    </ui-select>
</div>
