<div class="row" ng-if="ctrl.isOld">
    <div class="ibox col-md-12">
        <div class="ibox-content">
            <a class="badge badge-primary" translate
               ui-sref="oldDocument({name:ctrl.document.name, hid:ctrl.document.hid, offset:'prev'})">previous</a>
            <a class="badge badge-info" translate
               ui-sref="diff({name:ctrl.document.name, hid:ctrl.document.hid})">diff</a>
            <old-document-link document="ctrl.document"/>
            by
            <a href="/user/{{ctrl.document.user}}">{{ctrl.document.user}}</a>
            :
            <span class="history-comment">{{ctrl.document.comment}}</span>
            <a class="badge badge-primary" translate
               ui-sref="oldDocument({name:ctrl.document.name, hid:ctrl.document.hid, offset:'next'})">next</a>
        </div>
    </div>
</div>

<div class="ibox discussion-view">
    <div class="ibox-title">
        <h1 ng-if="ctrl.document.$resolved && !ctrl.error">
            <i class="fa fa-comments"></i>
            {{ctrl.document.name}}
        </h1>

        <h1 ng-if="ctrl.error.notFound">
            <i class="fa fa-comments"></i>
            {{ctrl.params.name}}
        </h1>
        <wiki-tools document="ctrl.document"/>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12 subject" ng-repeat="subject in ctrl.document.data.subjects">

                <h2 class="title">
                    <i class="fa fa-comment"></i>
                    {{subject.title}}
                </h2>
                <div class="response" ng-repeat="response in subject.responses">
                    <div class="response-header">
                        <span translate>By</span>
                        <a ui-sref="contributions({username:response.author})">{{response.author}}</a>
                        <span class="pull-right">
                                {{response.date | date }}
                                <span translate>at</span>
                                {{response.date | date:"HH:mm" }}
                            </span>
                    </div>
                    <div class="response-content">
                        <markdown content="response.content"/>
                    </div>
                </div>

                <div class="response" ng-if="!ctrl.isOld">
                    <form ng-submit="ctrl.addResponse(subject.id, subject.newResponse)">
                        <div class="response-header">
                            <span translate>By</span>
                            {{ctrl.currentUser.username}}
                        </div>
                        <div class="response-content">
                                <textarea class="form-control" required
                                          ng-model="subject.newResponse"></textarea>
                            <p>
                                <input type="submit" class="btn btn-sm btn-primary"
                                       value="{{'Answer' | translate }}"/>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-12 subject new-subject">
                <center>
                    <a href="#" class="btn btn-primary start-new-subject-button"
                       ng-if="!ctrl.showNewSubject && !ctrl.isOld"
                       ng-click="ctrl.showNewSubject=true"
                       translate>Start a new subject</a>
                </center>
                <form ng-if="ctrl.showNewSubject"
                      ng-submit="ctrl.newSubject.save()">
                    <h2 class="form-group title">
                        <input class="form-control" placeholder="Title" required
                               ng-model="ctrl.newSubject.title"/>
                    </h2>
                    <div class="form-group response">
                        <div class="response-content">
                            <textarea class="form-control" placeholder="Message" required
                                      ng-model="ctrl.newSubject.response"></textarea>

                            <p>
                                <input type="submit" class="btn btn-primary" value="Create"/>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
