*.egg
*.egg-info
*.pyc
*$py.class
*~
env/
.idea/

/campui/local_dev_settings.py
/campui/aws_dev_settings.py

# build with gulp
app/static/css/
app/static/translations/
app/static/angular-i18n/

# this dir exists only if fully build with gulp
www/

# exclude node and bower packages
node_modules/
bower_components/

# exclude useless .mo files
po/*.mo

build.zip
