*.egg
*.egg-info
*.pyc
*$py.class
*~
env/
.idea/

/campui/local_dev_settings.py
/campui/aws_dev_settings.py

# build with gulp
app/css/
app/translations/
app/angular-i18n/

# this ont if fully build with gulp
static/

# exclude node and bower packages
node_modules/
bower_components/

# exclude useless .mo files
po/*.mo

build.zip
