<div class="form-group  col-md-3" uib-tooltip="{{ filterItem.label | translate }}">
    <ui-select multiple
               class="form-control"
               close-on-select="false"
               on-select="qe.apply()"
               on-remove="qe.apply()"
               ng-model="qe.queryModel[itemId]">
        <ui-select-match placeholder="{{ filterItem.label | translate}}">
            {{qe.getLocale($item).title}}
        </ui-select-match>
        <ui-select-choices
                repeat="value.document_id as value in filterItem.values | hasProp : 'visible'"
                refresh="qe.refreshC2cItems(itemId, $select.search)"
                refresh-delay="300">
            {{qe.getLocale(value).title}}
        </ui-select-choices>
    </ui-select>
</div>
