<div class="form-group col-md-3">
    <div class="input-daterange input-group">
        <input type="date" class="input-sm form-control"
               ng-change="qe.apply()"
               ng-model="qe.queryModel.date[0]">
        <span class="input-group-addon" translate>to</span>
        <input type="date" class="input-sm form-control"
               ng-change="qe.apply()"
               ng-model="qe.queryModel.date[1]">
    </div>
    {{qe.queryModel.date}}
</div>