<div class="wiki-tools dropdown pull-right hidden-print" dropdown>

    <a ui-sref="edit({name:name})"
       ng-if="namespace!='Discussion'"
       uib-tooltip="{{ 'Edit'| translate }}">
        <i class="fa fa-edit"></i>
    </a>

    <a ui-sref="document({name:mainPageName})"
       ng-if="namespace=='Discussion'"
       uib-tooltip="{{ 'Main page'| translate }}">
        <i class="fa fa-eye"></i>
    </a>

    <a ui-sref="discussion({name:name})"
       ng-if="namespace!='Discussion'"
       uib-tooltip="{{ 'Discussion'| translate }}">
        <i class="fa fa-comments"></i>
    </a>

    <a ui-sref="history({name:name})"
       uib-tooltip="{{ 'History'| translate }}">
        <i class="fa fa-history"></i>
    </a>

</div>
