<div class="ice_climbing-portal">
    <div class="row">
        <div class="col-lg-12 no-padding">
            <div class="ibox">
                <div class="ibox-title">
                    <h1>
                        <i class="fa fa-snowflake-o"/>
                        Grande courses
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 no-padding">
            <div class="ibox">
                <div class="ibox-title">
                    <h3 translate>Outings</h3>
                </div>
                <div class="ibox-content">
                    <outings query="'act=mountain_climbing,snow_ice_mixed&erat=IV,VI&grat=D+,ED7&qa=draft,great'" display="'compact'"/>
                </div>
            </div>
        </div>
    </div>
</div>