<div class="ice_climbing-portal">
    <div class="row">
        <div class="col-lg-12 no-padding">
            <div class="ibox">
                <div class="ibox-title">
                    <h1>
                        <i class="fa fa-snowflake-o"/>
                        Cascade de glace
                    </h1>
                </div>
                <div class="ibox-content">
                    <images query="'act=ice_climbing'"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 no-padding">
            <div class="ibox">
                <div class="ibox-title">
                    <h3 translate>Outings</h3>
                </div>
                <div class="ibox-content">
                    <outings query="'act=ice_climbing'" display="'compact'"/>
                </div>
            </div>
        </div>
    </div>
</div>