<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>{{getLabel()}}</h3>
                    <div ng-if="data" ibox-tools></div>
                </div>
                PAS EN PROD
                <div ng-if="!qe.visible" class="ibox-content">
                    <form>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text"
                                           ng-model="qe.currentQuery.name"
                                           class="form-control input-sm"
                                           uib-tooltip="{{'Give a name to this filter if you want to save it' | translate }}"
                                           placeholder="Name"/>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <input type="text"
                                           ng-model="qe.currentQuery.url"
                                           class="form-control input-sm"
                                           ng-keypress="qe.setQuery(qe.currentQuery)"
                                           uib-tooltip="{{'Raw CampToCamp URL (left part, after #)' | translate }}"
                                           placeholder="URL"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <div class=" pull-right">
                                        <a ng-click="user.deleteQuery(qe.currentQuery)"
                                           uib-tooltip="{{ 'Delete'| translate }}">
                                            <i class="fa fa-trash btn btn-sm btn-danger"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group"
                                     uib-tooltip="{{ 'Activities'| translate }}">
                                    <select chosen multiple id="act"
                                            class="form-control input-sm"
                                            placeholder-text-multiple="'Activitées'"
                                            ng-model="qe.queryModel.act"
                                            ng-options="act for act in qe.metadata.activities">
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-1">

                                <div class="form-group">
                                    <button class="btn btn-sm btn-primary pull-right"
                                            ng-click="qe.apply()">
                                        <strong>Apply</strong>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div class="ibox-content">
                    <!--
                    <query-editor></query-editor>
                    <div class="hr-line-dashed"></div>-->
                    <loading-info></loading-info>


                    <div ng-if="data" ui-grid="{data:data.documents, columnDefs:columnDefs}"
                         style="height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>