<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>{{getLabel()}}</h3>
                    <div ng-if="data" ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form>
                        <ul class="list-inline">
                            <li class="form-group">
                                <input type="text"
                                       ng-model="qe.currentQuery.name"
                                       class="form-control input-sm"
                                       uib-tooltip="{{'Give a name if you want to save this filter' | translate }}"
                                       placeholder="Name"/>
                            </li>
                            <li class="form-group">
                                <input type="text"
                                       ng-model="qe.currentQuery.url"
                                       class="form-control input-sm"
                                       ng-keypress="qe.setQuery(qe.currentQuery)"
                                       uib-tooltip="{{'Raw CampToCamp URL (left part, after #)' | translate }}"
                                       placeholder="URL"/>
                            </li>


                            <li class="form-group"
                                uib-tooltip="{{ 'Activities'| translate }}">

                                <select chosen multiple id="act"
                                        class="form-control input-sm"
                                        placeholder-text-multiple="'Activitées'"
                                        ng-model="qe.queryModel.act"
                                        ng-options="act for act in qe.metadata.activities">
                                </select>
                            </li>

                            <li class="form-group">
                                <button class="btn btn-sm btn-primary"
                                        ng-click="qe.apply()">
                                    <i class="fa fa-filter"></i>
                                    <span translate>Apply</span>
                                </button>
                            </li>

                            <li class="form-group">
                                <button class="btn btn-sm btn-success"
                                        ng-click="qe.save()">
                                    <i class="fa fa-save"></i>
                                    <span translate>Save</span>
                                </button>
                            </li>

                            <li class="form-group">
                                <button class="btn btn-sm btn-success"
                                        ng-click="qe.clone()">
                                    <i class="fa fa-copy"></i>
                                    <span translate>Clone</span>
                                </button>
                            </li>

                            <li class="form-group">
                                <button class="btn btn-sm btn-danger"
                                        uib-tooltip="{{ 'Delete'| translate }}"
                                        ng-click="qe.delete()">
                                    <i class="fa fa-trash"></i>
                                    <span translate>Delete</span>
                                </button>
                            </li>
                        </ul>
                    </form>
                </div>

                <div class="ibox-content">
                    <!--
                    <query-editor></query-editor>
                    <div class="hr-line-dashed"></div>-->
                    <loading-info></loading-info>

                    <div ng-if="data" ui-grid="{data:data.documents, columnDefs:columnDefs}"
                         style="height: 500px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>