<div class="row faq-view">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div markdown>
#Question courantes
## A quoi sert ce site?
A présenter les données de [CampToCamp](https://www.camptocamp.org/outings) de manière alternative.

## Mais pourquoi ?
Suite à la mise en ligne de la V6, de nombreuses voix ont exprimé des désaccords assez forts avec l'esprit de la nouvelle interface. Dont moi. Et comme j'aime BEAUCOUP flaner sur CampToCamp, j'ai pris un peu de temps pour faire ce site qui correspond plus à ce que j'attend.

## D'ou viennent les données ?
Elles viennent de l'[API CamptoCamp](https://github.com/c2corg/v6_api). Rien n'est stocké ou chargé sur le serveur, tout est téléchargé directement par votre navigateur Web.

## Comment rentrer des sorties, itinéraires, etc?
Pas possible, il faut toujours le faire sur CampToCamp

## Je veux signaler un bug, donner mon avis, suggérer une idée, te remercier ou te vouer aux gémonies
Pour le moment, utilisez le forum CampToCamp (ou un message privé). N'oubliez pas la mention @CharlesB pour m'alerter. Dans le dernier cas (les gémonies), tout message non constructif ou non argumenté sera attentivement lu en diagonale et soigneusement rangé à la poubelle.

## C'est moche sur mon mobile
Le site est fait pour les navigateurs de type desktop. J'essayerai de corriger les bugs qui arrivent sur les smartphones, mais rien ne sera fait spécifiquement pour eux.

## Qui es-tu?
[Charles](https://www.camptocamp.org/profiles/286726/fr), un contributeur lambda de CampToCamp.

## Quel lien as-tu avec avec CampToCamp?
Absolument aucun, il s'agit d'une initiative personnelle sans aucun lien avec l'association, ou CampToCamp SA.

## Ca t'as pris combien de temps à réaliser ?
Deux petites semaines tout compris. En incluant l'apprentissage de toutes les technos (j'ai fait du dev web il y a dix ans, autant dire à la préhistoire). Et encore, c'est grâce au fait que ma petite famille s'est agrandie : j'ai profité de mon congé parental :-).

## Payant, gratuit, libre, commercial?
Gratuit, et gratuit ad vitam. Point final. Le [code est open source](https://github.com/cbeauchesne/campui) avec le mode d'emploi, ca prend 15mn à un geek standard pour répliquer le site.

## Et l'avenir?
Si la V6 évolue vers une version qui correspond plus à ce qu'attendent les contributeurs, il est probable que le site ferme. Dans le cas contraire, tous les scénarios sont possibles.
        </div>
    </div>
</div>