This page won't be displayed.

it contains strings that must be translated, but are not presents in others HTML
obviously, strings from api

<span translate>poor</span>
<span translate>excellent</span>
<span translate>good</span>
<span translate>awful</span>
<span translate>average</span>

<span translate>skitouring</span>
<span translate>snow_ice_mixed</span>
<span translate>mountain_climbing</span>
<span translate>rock_climbing</span>
<span translate>ice_climbing</span>
<span translate>hiking</span>
<span translate>snowshoeing</span>
<span translate>paragliding</span>
<span translate>mountain_biking</span>
<span translate>via_ferrata</span>

<span translate>outings</span>
<span translate>routes</span>
<span translate>waypoints</span>
<span translate>areas</span>
<span translate>images</span>

<span translate>All outings</span>
<span translate>All routes</span>
<span translate>All waypoints</span>
<span translate>All images</span>