This page won't be displayed.

it contains strings that must be translated, but are not presents in others HTML
obviously, strings from api

<span translate>poor</span>
<span translate>excellent</span>
<span translate>good</span>
<span translate>awful</span>
<span translate>average</span>

<span translate>skitouring</span>
<span translate>snow_ice_mixed</span>
<span translate>mountain_climbing</span>
<span translate>rock_climbing</span>
<span translate>ice_climbing</span>
<span translate>hiking</span>
<span translate>snowshoeing</span>
<span translate>paragliding</span>
<span translate>mountain_biking</span>
<span translate>via_ferrata</span>

<span translate>outings</span>
<span translate>routes</span>
<span translate>waypoints</span>
<span translate>areas</span>
<span translate>images</span>

<span translate>All outings</span>
<span translate>All routes</span>
<span translate>All waypoints</span>
<span translate>All images</span>

<span translate>loop</span>
<span translate>traverse</span>
<span translate>glacier_safety_gear</span>
<span translate>edge</span>
<span translate>face</span>
<span translate>quiet</span>

<span translate>areas</span>
<span translate>categories</span>
<span translate>activities</span>
<span translate>types</span>
<span translate>avalanche signs</span>
<span translate>elevation gain</span>
<span translate>orientations</span>
<span translate>elevation loss</span>
<span translate>language</span>
<span translate>max altitude</span>
<span translate>conditions</span>
<span translate>elevation gain</span>
<span translate>crowding</span>
<span translate>glacier rating</span>
<span translate>altitude of access point</span>
<span translate>completeness</span>
<span translate>max altitude</span>
<span translate>min altitude</span>
<span translate>routes</span>
<span translate>types</span>
<span translate>snow elevation (down)</span>
<span translate>snow quality</span>
<span translate>snow quantity</span>
<span translate>snow elevation (up)</span>
<span translate>waypoints</span>
<span translate>elevation</span>
<span translate>type</span>
<span translate>elevation</span>
<span translate>avalanche level</span>
<span translate>avalanche slope</span>
<span translate>impacted count</span>
<span translate>participants count</span>
<span translate>severity</span>
<span translate>type</span>
<span translate>exposition rock</span>
<span translate>durations</span>
<span translate>ski rating</span>
<span translate>ski exposition</span>
<span translate>labande ski rating</span>
<span translate>labande global rating</span>
<span translate>global rating</span>
<span translate>engagement rating</span>
<span translate>risk rating</span>
<span translate>equipment rating</span>
<span translate>ice rating</span>
<span translate>mixed rating</span>
<span translate>rock free rating</span>
<span translate>rock required rating</span>
<span translate>aid rating</span>
<span translate>via ferrata rating</span>
<span translate>hiking rating</span>
<span translate>hiking MTB exposition</span>
<span translate>snowshoe rating</span>
<span translate>MTB up rating</span>
<span translate>MTB down rating</span>
<span translate>rock types</span>
<span translate>climbing outdoor type</span>
<span translate>configuration</span>
<span translate>MTB length asphalt</span>
<span translate>MTB length trail</span>
<span translate>MTB portage</span>
<span translate>route length</span>
<span translate>difficulties height</span>
<span translate>height diff access</span>
<span translate>height diff difficulties</span>
<span translate>elevation</span>
<span translate>prominence</span>
<span translate>height max</span>
<span translate>height min</span>
<span translate>height median</span>
<span translate>routes quantity</span>
<span translate>length</span>
<span translate>capacity</span>
<span translate>capacity staffed</span>
<span translate>waypoint type</span>
<span translate>rock types</span>
<span translate>orientations</span>
<span translate>best periods</span>
<span translate>custodianship</span>
<span translate>climbing styles</span>
<span translate>access time</span>
<span translate>climbing rating max</span>
<span translate>climbing rating min</span>
<span translate>climbing rating median</span>
<span translate>children proof</span>
<span translate>rain proof</span>
<span translate>climbing outdoor types</span>
<span translate>climbing indoor types</span>
<span translate>paragliding rating</span>
<span translate>exposition rating</span>
<span translate>weather station</span>
<span translate>equipment ratings</span>
<span translate>public transportation types</span>
<span translate>public transportation rating</span>
<span translate>snow clearance rating</span>
<span translate>product types</span>