<div class="row faq-view">
    <div class="col-lg-1">
        #Test
    </div>
    <div class="col-lg-3">
        Code
    </div>
    <div class="col-lg-4">
        Expected HTML
    </div>
    <div class="col-lg-4">
        Result
    </div>
</div>

<div class="row faq-view" ng-repeat="item in items" ng-class="{'bg-danger': !item.success}">
    <div class="col-lg-1">
        {{item.name}}        
    </div>
    <div class="col-lg-3">
        <pre>{{item.code}}</pre>
    </div>
    <div class="col-lg-4">
        <pre>{{item.html}}</pre>
    </div>
    <div class="col-lg-4">
        <pre>{{item.result}}</pre>
    </div>
</div>
