<div class="row me-view">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 translate>Parameters</h5>
            </div>
            <div class="ibox-content" style="display: block;">
                <form class="form-horizontal">

                    <div class="alert alert-danger" role="alert" ng-if="errors.global">
                        {{errors.global}}
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate>ID C2C</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="number" min="1" class="form-control input-sm"
                                       ng-model="user.profile.params.c2c_id"/>
                                <span class="input-group-btn">
                                    <a type="button" class="btn btn-primary btn-sm" target="_blank" translate
                                       href="https://www.camptocamp.org/profiles/{{user.profile.params.c2c_id}}">
                                    Test!
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Default for outings</label>
                            <div class="col-sm-2">
                                <input type="text" min="1" class="form-control input-sm"
                                       ng-model="user.profile.params.outingDefaultQuery"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Default for images</label>
                            <div class="col-sm-2">
                                <input type="text" min="1" class="form-control input-sm"
                                       ng-model="user.profile.params.imageDefaultQuery"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Default for routes</label>
                            <div class="col-sm-2">
                                <input type="text" min="1" class="form-control input-sm"
                                       ng-model="user.profile.params.routeDefaultQuery"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Default for xreports</label>
                            <div class="col-sm-2">
                                <input type="text" min="1" class="form-control input-sm"
                                       ng-model="user.profile.params.xreportDefaultQuery"/>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label" translate>Queries</label>
                            <div class="col-sm-9">

                                <div class="alert alert-danger" role="alert" ng-if="errors.queries">
                                    {{errors.queries}}
                                </div>

                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="col-sm-2">
                                            <span translate>Name</span>
                                            <button class="btn btn-primary btn-xs"
                                                    ng-click="user.addQuery()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </th>
                                        <th translate>CampToCamp URL</th>
                                        <th translate class="col-sm-1">Actions</th>
                                    </tr>
                                    </thead>
                                    <tr ng-repeat="query in user.profile.params.queries">
                                        <td class="col-sm-2">
                                            <input type="text" class="form-control" ng-model="query.name"/>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="query.url"/>
                                        </td>
                                        <td class="col-sm-2">
                                            <a class="btn btn-primary btn-sm" target="_blank"
                                               href="https://www.camptocamp.org/routes#{{query.url}}">
                                                Test!
                                            </a>
                                            <button class="btn btn-danger btn-sm"
                                                    ng-click="user.deleteQuery(query)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs"
                                        type="submit"
                                        ng-click="user.save()">
                                    <strong ng-if="!user.saving" translate>Save</strong>
                                    <strong ng-if="user.saving" translate>Saving...</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

