<div class="outing-images-view" infinite-scroll="loadMore()">
    <div class="alert alert-info"
         ng-if="images.length==0 && data.documents.length==data.total && !data.loading"
         translate>
        There is not yet images on outings linked to this route
    </div>
    <span ng-repeat="outing in data.documents">
        <span ng-repeat="image in outing.associations.images">
            <figure>
                <a href="https://www.camptocamp.org/images/{{image.document_id}}">
                <img height="200"
                     uib-tooltip="{{outing.date_start}} &#013; {{outing.associations.routes[0].locales[0].title_prefix}} : {{outing.associations.routes[0].locales[0].title}}"
                     alt="{{image.locales[0].title}}"
                     title="{{image.locales[0].title}}"
                     ng-src="https://media.camptocamp.org/c2corg_active/{{image.filename.replace('.', 'MI.').replace('.svg', '.jpg')}}"/>
                </a>
                <figcaption>
                    <a href="outing/{{outing.document_id}}">

                        <condition-icon ng-if="outing.condition_rating"
                                        condition="outing.condition_rating"></condition-icon>
                        <span>{{image.locales[0].title}}</span>
                        </a>
                </figcaption>
            </figure>
        </span>
    </span>
</div>
