<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h1>
            <i class="fa fa-file-image-o"></i>
            <outing-link-c2c outing="outing"></outing-link-c2c>
            <small>{{outing.date_start}}</small>
            &nbsp;
        </h1>
    </div>

    <div class="ibox-content" style="display: block;">

        <div class="row">
            <div gallery class="col-sm-12" ng-if="outing.associations.images.length"
                 images="outing.associations.images"></div>
        </div>

        <div class="row">

            <div class="col-sm-9 b-r">
                <p>
                    <i class="fa fa-chevron-right" uib-tooltip="{{'Areas' | translate }}"></i>
                    <i areas="outing.areas"></i>
                </p>

                <p>
                    <route-list routes="outing.associations.routes"></route-list>
                </p>

                <h2 ng-if="outing.locales[0].description" translate>Description</h2>
                <div markdown="outing.locales[0].description"></div>

                <h2 ng-if="outing.locales[0].route_description" translate>Route description</h2>
                <div markdown="outing.locales[0].route_description"></div>

                <h2 ng-if="outing.locales[0].conditions" translate>Conditions</h2>
                <div markdown="outing.locales[0].conditions"></div>
            </div>

            <div class="col-sm-3 b-l">
                <div>
                    <i class="fa fa-user" uib-tooltip="{{'Participants' | translate }}"></i>
                    <span ng-repeat="user in outing.associations.users">
                        <user-link user="user"></user-link>{{$last ? "" : ", "}}
                    </span>
                    {{outing.locales[0].participants}}
                </div>

                <div ng-if="outing.locales[0].timing">
                    <i class="fa fa-clock-o" uib-tooltip="{{'Timing' | translate }}"></i>
                    <div markdown="outing.locales[0].timing"></div>
                </div>

                <div ng-if="outing.locales[0].weather">
                    <i class="fa fa-cloud" uib-tooltip="{{'Weather' | translate }}"></i>
                    {{outing.locales[0].weather}}
                </div>

                <div ng-if="outing.frequentation">
                    <i class="fa fa-users" uib-tooltip="{{'Frequentation' | translate }}"></i>
                    {{outing.frequentation | translate }}
                </div>

                <div license type="'outing'" id="outing.document_id"></div>
            </div>
        </div>
    </div>
</div>

