

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center loginscreen animated fadeInDown">

        <h3>Register to CampUI</h3>
        <form class="m-t" ng-submit="form.createUser()" >
            <div ng-if="form.errors.global" class="alert alert-danger">
                {{form.errors.global}}
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': form.errors.username }">
                <input type="text" class="form-control"
                       ng-model="form.username" ng-change="form.check()"
                       placeholder="{{'User name' | translate }}" required />
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': form.errors.password1}">
                <input type="password" class="form-control"
                       ng-model="form.password1"  ng-change="form.check()"
                       placeholder="{{'Password' | translate }}" required />
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': form.errors.password2}">
                <input type="password"  class="form-control"
                       ng-model="form.password2"  ng-change="form.check()"
                       placeholder="{{'Repeat password' | translate }}" required />
            </div>

            <button type="submit" ng-disabled="form.hasError || form.loading"
                    class="btn btn-primary block full-width m-b" translate>
                Register
            </button>

            <img ng-if="form.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

        </form>

    </div>
</div>






<!-- Real user service that uses an api -->
<!-- <script src="app-services/user.service.js"></script> -->
<!-- Fake user service for demo that uses local storage -->