<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h1>
            <i class="fa fa-road"></i>
            <route-link-c2c route="route"></route-link-c2c>
        </h1>
    </div>

    <div class="ibox-content" style="display: block;">
        <div class="row">
            <div class="col-sm-8 b-r">
                <p>
                    <i class="fa fa-chevron-right" uib-tooltip="{{'Areas' | translate }}"></i>
                    <i areas="route.areas"></i>
                </p>

                <div class="summary" ng-if="currentLocale.summary" markdown="currentLocale.summary"></div>

                <h2 ng-if="currentLocale.description" translate>Description</h2>
                <div markdown="currentLocale.description"></div>

                <h2 ng-if="currentLocale.remarks" translate>Remarks</h2>
                <div markdown="currentLocale.remarks"></div>

                <h2 ng-if="currentLocale.gear" translate>Gears</h2>
                <div markdown="currentLocale.gear"></div>

                <h2 ng-if="currentLocale.route_history" translate>History</h2>
                <div markdown="currentLocale.route_history"></div>

            </div>
            <div class="col-sm-4">

                <div>
                    <activities activities="route.activities"></activities>
                    <rating route="route"></rating>
                    <label>&nbsp;</label>
                </div>

                <div ng-if="route.height_diff_difficulties">
                    <label translate>Difficulties height :</label>{{route.height_diff_difficulties}}
                </div>

                <div>
                    <label translate>Configuration :</label>{{route.configuration.join(', ')}}
                </div>

                <div ng-if="route.route_types">
                    <label translate>Route type :</label>{{route.route_types}}
                </div>

                <div>
                    <label translate>Orientation :</label>{{route.orientations.join(', ')}}
                </div>

                <div>
                    <label translate>Glacier gears :</label> {{route.glacier_gear}}
                </div>

                <div license type="'route'" id="route.document_id"></div>

                <label translate>Waypoints</label>
                <waypoint-list waypoints="route.associations.waypoints"></waypoint-list>

                <label translate>Recent outings</label>
                <linked-outings item="route"></linked-outings>
                <outing-list outings="route.associations.recent_outings.documents"></outing-list>

            </div>
        </div>
        <div class="row">
            <div gallery class="col-sm-12" ng-if="route.associations.images.length"
                 images="route.associations.images"></div>
        </div>
    </div>
</div>
