<div class="ibox float-e-margins route-view">
    <div class="ibox-title">
        <h1>
            <i class="fa fa-road"></i>
            <route-link-c2c route="route"></route-link-c2c>
        </h1>
    </div>

    <div class="ibox-content" style="display: block;">
        <div class="row">
            <div class="col-sm-8">
                <p>
                    <i class="fa fa-chevron-right" uib-tooltip="{{'Areas' | translate }}"></i>
                    <i areas="route.areas"></i>
                </p>
            </div>
            <div class="col-sm-4">
                <div license type="'route'" id="route.document_id" cc="by-sa"></div>
            </div>
        </div>
        <div class="row route-header">
            <div class="col-md-12">
                <linked-outings item="route"></linked-outings>
                <outing-images item="route"></outing-images>
            </div>
        </div>

        <div class="row route-header">
            <div class="col-sm-4">

                <div>
                    <activities activities="route.activities"></activities>
                    <rating route="route"></rating>
                </div>

                <div ng-if="route.height_diff_difficulties">
                    <strong translate>Difficulties height :</strong>{{route.height_diff_difficulties}}&nbsp;m
                </div>

                <div ng-if="route.route_types">
                    <strong translate>Route type :</strong>
                    {{translateArray(route.route_types).join(', ')}}
                </div>

                <div>
                    <strong translate>Glacier gears :</strong> {{route.glacier_gear | translate}}
                </div>

            </div>

            <div class="col-sm-4">

                <div>
                    <strong translate>Configuration :</strong>
                    {{translateArray(route.configuration).join(', ')}}
                </div>

                <div>
                    <strong translate>Orientation :</strong>
                    {{translateArray(route.orientations).join(', ')}}
                </div>

                <div ng-if="route.height_diff_up || route.height_diff_down">
                    <strong translate>Height difference :</strong>
                    +{{route.height_diff_up}}&nbsp;m&nbsp;/&nbsp;-{{route.height_diff_down}}&nbsp;m
                </div>

                <div ng-if="route.elevation_min || route.elevation_max">
                    <strong translate>Elevation min/max :</strong>
                    {{route.elevation_min}}&nbsp;m&nbsp;/&nbsp;{{route.elevation_max}}&nbsp;m
                </div>

                <div ng-if="route.route_length">
                    <strong translate>Route length :</strong>{{route.route_length}}&nbsp;m
                </div>

            </div>

            <div class="col-sm-4">
                <strong translate>Waypoints</strong>
                <waypoint-list waypoints="route.associations.waypoints"></waypoint-list>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div class="summary" ng-if="currentLocale.summary" markdown="currentLocale.summary"></div>

                <h2 ng-if="currentLocale.description" translate>Description</h2>
                <div markdown="currentLocale.description"></div>

                <h2 ng-if="currentLocale.remarks" translate>Remarks</h2>
                <div markdown="currentLocale.remarks"></div>

                <h2 ng-if="currentLocale.gear" translate>Gears</h2>
                <div markdown="currentLocale.gear"></div>

                <h2 ng-if="currentLocale.route_history" translate>History</h2>
                <div markdown="currentLocale.route_history"></div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    <span translate>Recent outings</span>
                </h2>
                <outing-list outings="route.associations.recent_outings.documents"></outing-list>

                <div gallery class="col-sm-12" ng-if="route.associations.images.length"
                     images="route.associations.images"></div>
            </div>
        </div>
    </div>
</div>
