<div class="ibox float-e-margins user-view">
    <div class="ibox-title">
        <h1 ng-if="c2cItem.type=='r'">
            <i class="fa fa-road"></i>
            <route-link route="c2cItem"></route-link>
        </h1>
        <h1 ng-if="!c2cItem.type || c2cItem.type=='u'">
            <i class="fa fa-user"></i>
            <user-link user="c2cItem"></user-link>
        </h1>
        <linked-outings item="c2cItem"></linked-outings>
        <outing-images item="c2cItem"></outing-images>
        <span class="pull-right follow-button" ng-click="currentUser.toggleFollow(c2cItem)">
            <i class="fa fa-star" ng-class="{'followed-icon':currentUser.isFollowed(c2cItem)}" uib-tooltip="{{'Follow' | translate }}"></i>
        </span>
    </div>

    <div class="ibox-content" style="display: block;">
        <div class="row"  infinite-scroll="loadMore()">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div ng-repeat="outing in data.documents" ng-if="outing.locales[0].description">
                    <h3>
                        <i class="fa fa-file-image-o"></i>
                        <outing-link outing="outing"></outing-link>
                        <small>{{outing.date_start}}</small>                        &nbsp;
                    </h3>

                    <div markdown="outing.locales[0].description"></div>

                    <div gallery ng-if="outing.associations.images.length"
                         images="outing.associations.images"></div>

                </div>
            </div>
        </div>
    </div>
</div>


