<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h1>
            <i class="fa fa-map-marker"></i>
            <waypoint-link-c2c waypoint="waypoint"></waypoint-link-c2c>
        </h1>
    </div>

    <div class="ibox-content" style="display: block;">
        <div class="row">
            <div gallery class="col-sm-12" ng-if="waypoint.associations.images.length"
                 images="waypoint.associations.images"></div>
        </div>
        <div class="row">
            <div class="col-sm-8 b-r">
                <h2 translate>Routes</h2>
                <route-list routes="waypoint.associations.all_routes.documents"></route-list>

                <h2 translate>Recent outings</h2>
                <outing-list outings="waypoint.associations.recent_outings.documents"></outing-list>
            </div>
            <div class="col-sm-4 b-r">
            </div>
        </div>
    </div>
</div>