<div class="ibox float-e-margins waypoint-view">
    <div class="ibox-title">
        <h1>
            <i class="fa fa-map-marker"></i>
            <waypoint-link-c2c waypoint="waypoint"></waypoint-link-c2c>
        </h1>
        <linked-routes item="waypoint"></linked-routes>
        <linked-outings item="waypoint"></linked-outings>
    </div>

    <div class="ibox-content" style="display: block;">

        <div class="row item-header">
            <div class="col-sm-8">
                <i class="fa fa-chevron-right" uib-tooltip="{{'Areas' | translate }}"></i>
                <i areas="waypoint.areas"></i>
            </div>
            <div class="col-sm-4">
                <label translate>Credits</label>
                <span license type="'waypoint'" id="waypoint.document_id" cc="'by-sa'"></span>
            </div>
        </div>

        <div class="row item-header">
            <div class="col-sm-4">

                <div ng-if="waypoint.waypoint_type">
                    <label translate>waypoint_type</label>
                    {{waypoint.waypoint_type}}
                </div>

                <div ng-if="waypoint.elevation">
                    <label translate>elevation</label>
                    {{waypoint.elevation}}
                </div>
                <div ng-if="waypoint.height_max || waypoint.height_min">
                    <label translate>height</label>
                    {{waypoint.height_min}}m / {{waypoint.height_max}}m
                </div>
                <div ng-if="waypoint.height_median">
                    <label translate>height_median</label>
                    {{waypoint.height_median}}
                </div>
                <div ng-if="waypoint.climbing_outdoor_types">
                    <label translate>climbing_outdoor_types</label>
                    {{waypoint.climbing_outdoor_types.join(', ')}}
                </div>
                <div ng-if="waypoint.climbing_styles">
                    <label translate>climbing_styles</label>
                    {{waypoint.climbing_styles.join(', ')}}
                </div>
                <div ng-if="waypoint.climbing_rating_min || waypoint.climbing_rating_max">
                    <label translate>climbing_rating</label>
                    {{waypoint.climbing_rating_min}} / {{waypoint.climbing_rating_max}}
                </div>
                <div ng-if="waypoint.climbing_rating_median">
                    <label translate>climbing_rating_median</label>
                    {{waypoint.climbing_rating_median}}
                </div>

            </div>
            <div class="col-sm-4">
                <div ng-if="waypoint.orientations">
                    <label translate>orientations</label>
                    {{waypoint.orientations.join(', ')}}
                </div>
                <div ng-if="waypoint.best_periods">
                    <label translate>best_periods</label>
                    {{waypoint.best_periods.join(', ')}}
                </div>
                <div ng-if="waypoint.routes_quantity">
                    <label translate>routes_quantity</label>
                    {{waypoint.routes_quantity}}
                </div>
                <div ng-if="waypoint.access_time">
                    <label translate>access_time</label>
                    {{waypoint.access_time}}
                </div>

            </div>
            <div class="col-sm-4">
                <div ng-if="waypoint.protected"><label translate>protected</label>{{waypoint.protected}}</div>
                <div ng-if="waypoint.equipment_ratings"><label translate>equipment_ratings</label>{{waypoint.equipment_ratings}}
                </div>

                <div ng-if="waypoint.rock_types"><label translate>rock_types</label>{{waypoint.rock_types}}</div>
                <div ng-if="waypoint.rain_proof"><label translate>rain_proof</label>{{waypoint.rain_proof}}</div>
                <div ng-if="waypoint.children_proof"><label translate>children_proof</label>{{waypoint.children_proof}}
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2 ng-if="currentLocale.description" translate>Description</h2>
                <div markdown="currentLocale.description"></div>

                <h2 ng-if="currentLocale.access" translate>Access</h2>
                <div markdown="currentLocale.access"></div>


            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 b-r" ng-if="waypoint.associations.all_routes.documents.length">

                <h2 translate>Routes</h2>
                <route-list routes="waypoint.associations.all_routes.documents"></route-list>
            </div>
            <div class="col-sm-6 b-r">

                <div ng-if="waypoint.associations.recent_outings.documents.length">
                    <h2 translate>Recent outings</h2>
                    <outing-list outings="waypoint.associations.recent_outings.documents"></outing-list>
                </div>
                <div ng-if="waypoint.associations.waypoint_children.length">
                    <h2 translate>Waypoints</h2>
                    <waypoint-list waypoints="waypoint.associations.waypoint_children"></waypoint-list>
                </div>

            </div>
        </div>

        <div class="row" ng-if="waypoint.associations.images.length">
            <div class="col-sm-12">
                <div gallery images="waypoint.associations.images"></div>
            </div>
        </div>
    </div>
</div>