<span>
    <span ng-if="route.global_rating" uib-tooltip="{{'Global rating' | translate }}">
        {{route.global_rating}}
    </span>
    <span ng-if="route.rock_free_rating" uib-tooltip="{{'Rock free rating' | translate }}">{{route.rock_free_rating}}</span><span ng-if="route.rock_required_rating" uib-tooltip="{{'Rock required rating' | translate }}">>{{route.rock_required_rating}}</span>
    <span ng-if="route.engagement_rating" uib-tooltip="{{'Engagement rating' | translate }}">
        {{route.engagement_rating}}
    </span>

    <span ng-if="route.risk_rating" uib-tooltip="{{'Risk rating' | translate }}">
        {{route.risk_rating}}
    </span>

    <span ng-if="route.equipment_rating" uib-tooltip="{{'Equipement rating' | translate }}">
        {{route.equipment_rating}}
    </span>
    <span ng-if="route.exposition_rock_rating" uib-tooltip="{{'Exposition rating' | translate }}">
        {{route.exposition_rock_rating}}
    </span>
    <span ng-if="route.ice_rating" uib-tooltip="{{'Ice rating' | translate }}">
        {{route.ice_rating}}
    </span>
    <span ng-if="route.mixed_rating" uib-tooltip="{{'Mixed rating' | translate }}">
        {{route.mixed_rating}}
    </span>
    <span ng-if="route.ski_rating" uib-tooltip="{{'Ski rating' | translate }}">
        {{route.ski_rating}}
    </span>
</span>
