.gallery{
    overflow: auto;
    white-space: nowrap;
    height : 195px;
}

.gallery.a{
    white-space: nowrap;
}

.gallery > a{
    height : 180px;
}

.gallery > a > img{
    height : 180px;
}

.ibox-tools .dropdown-menu > li > a {
    padding: 0px 10px;
}

.ibox-tools > a.active > i {
    color: #1ab394;
}

.ibox-tools > a > i.fa {
    font-size: 16px;
}

.ui-grid-cell-contents {
display:block
}

a.c2c:hover {
    color: #FFAA45;
}


