<div class="ibox-tools dropdown" dropdown ng-if="data">
    <a ng-click="qe.previous()"
       uib-tooltip="{{ 'Previous'| translate }}">
        <i class="fa fa-chevron-left"></i>
    </a>

    {{qe.offset+1}}-{{qe.offset+30}} / {{data.total}}

    <a ng-click="qe.next()"
       uib-tooltip="{{ 'Next'| translate }}">
        <i class="fa fa-chevron-right"></i>
    </a>

    <a ng-if="!user.isAnonymous"
       ng-click="qe.save()"
       uib-tooltip="{{ 'Save'| translate }}">
        <i class="fa fa-save"></i>
    </a>

    <a ng-class="{active: qe.currentQuery}"
       class="dropdown-toggle"
       uib-tooltip="{{ 'Filters'| translate }}"
       data-toggle="dropdown"
       href="#">
        <i class="fa fa-filter"></i>
    </a>

    <ul class="dropdown-menu dropdown-user">
        <li ng-click="qe.setQuery()">
            <a href><i class="fa fa-remove"></i> <span translate>No filter</span></a>
        </li>

        <li role="separator" class="divider"></li>

        <li ng-repeat="query in user.profile.params.queries"
            ng-click="qe.setQuery(query)"
            ng-class="{active:query.name==qe.currentQuery.name}">

            <a ng-if="query.name" href>{{query.name}}</a>
            <a ng-if="!query.name" href><i>* no name *</i></a>
        </li>

        <li ng-if="!user.isAnonymous" role="separator" class="divider"></li>

        <li ng-if="!user.isAnonymous">
            <a ui-sref="me"><i class="fa fa-gear"></i> <span translate>Parameters</span></a>
        </li>
    </ul>
</div>
