<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                    class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a ui-sref="home" class="navbar-brand">CampUI</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="home"><i class="fa fa-home"></i>
                        <span class="nav-label" translate>Home</span>
                    </a>
                </li>

                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-cubes"></i>
                        <span translate>Topo</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active">
                            <a ui-sref="outings">
                                <i class="fa fa-file-image-o"></i>
                                <span class="nav-label" translate>Outings</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="routes">
                                <i class="fa fa-road"></i> <span class="nav-label" translate>Routes</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="waypoints">
                                <i class="fa fa-map-marker"></i> <span class="nav-label" translate>Waypoints</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="areas">
                                <i class="fa fa-map-o"></i> <span class="nav-label" translate>Areas</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-rocket"></i>
                        <span translate>Misc</span>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">

                        <li ui-sref-active="active">
                            <a ui-sref="articles">
                                <i class="fa fa-file-text-o"></i> <span class="nav-label" translate>Articles</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="xreports">
                                <i class="fa fa-warning"></i>
                                <span class="nav-label" translate>Incidents</span>
                            </a>
                        </li>


                        <li role="separator" class="divider"></li>

                        <li>
                            <a href="https://forum.camptocamp.org/users/CharlesB/summary" target="_blank">
                                <i class="fa fa-phone"></i> <span class="nav-label" translate>Contact</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/cbeauchesne/campui/issues/new" target="_blank">
                                <i class="fa fa-bug"></i> <span class="nav-label" translate>Report a bug</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="credits">
                                <i class="fa fa-copyright"></i> <span class="nav-label" translate>Credits</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="faq">
                        <i class="fa fa-question"></i> <span class="nav-label" translate>FAQ</span>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'Search' | translate }}"
                           ng-controller="searchController"
                           ng-model="data.query"
                           ng-keydown="search()"
                    />
                </div>
            </form>

            <ul class="nav navbar-top-links navbar-right">

                <li ui-sref-active="active" ng-controller="authController" ng-hide="currentUser.username">
                    <a ui-sref="login">
                        <i class="fa fa-user"></i>
                        <span class="nav-label" translate>Login</span>
                    </a>
                </li>

                <li class="dropdown" ng-controller="authController" ng-show="currentUser.username">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-user"></i>
                        {{currentUser.username}}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">

                        <li ui-sref-active="active">
                            <a ng-if="currentUser.profile.params.c2c_id"
                               ui-sref="user({id : currentUser.profile.params.c2c_id})">
                                <i class="fa fa-user"></i>
                                <span translate>My page</span>
                            </a>
                        </li>


                        <li ui-sref-active="active">
                            <a ui-sref="me">
                                <i class="fa fa-gears"></i>
                                <span translate>Parameters</span>
                            </a>
                        </li>

                        <li role="separator" class="divider"></li>

                        <li>
                            <a href="/" ng-click="logout()">
                                <i class="fa fa-sign-out"></i>
                                <span translate>Log out</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" ng-controller="languageController">

                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <img width="16" height="16" src="static/img/flags/16/{{getCurrentLanguage()}}.png"/>
                        {{getCurrentLanguage()}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" ng-click="setCurrentLanguage('en')">
                                <img width="32" height="32" src="static/img/flags/32/en.png"/> en
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="setCurrentLanguage('fr')">
                                <img width="32" height="32" src="static/img/flags/32/fr.png"/> fr
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>