<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">

            <li class="nav-header">
                <div class="profile-element">
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">CampUI</strong>
                        </span>
                    </span>
                </div>

                <div class="logo-element">
                    CUI
                </div>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="dashboard"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="topos"><i class="fa fa-university"></i> <span class="nav-label">Topos</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="outings"><i class="fa fa-file-image-o"></i> <span class="nav-label">Sorties</span></a>
            </li>
        </ul>

    </div>
</nav>