<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{label}}</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <div ui-grid="{data:data.documents, columnDefs:columnDefs}" style="height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>