<!-- Main view  -->

<div class="row">
    <div class="col-lg-12">
        <div ng-controller="imagesController" class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Images</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content" style="display: block;">
                <div class="gallery">
                    <a ng-repeat="image in data.documents"
                       href="https://www.camptocamp.org/images/{{image.document_id}}">
                        <img alt="{{image.locales[0].title}}"
                             title="{{image.locales[0].title}}"
                             ng-src="https://media.camptocamp.org/c2corg_active/{{image.filename.replace('.', 'MI.')}}"
                             />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div ng-controller="outingsController" class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Outings</h5>
                <div ibox-tools></div>
            </div>

            <div class="ibox-content" style="display: block;">

                <div ng-repeat="(date, values) in data.documents | groupBy: 'date_start'">
                    <h3>{{ date | date : 'EEEE d MMMM'}}</h3>
                    <a ng-repeat="outing in values"
                        href="https://www.camptocamp.org/outings/{{outing.document_id}}"
                        style="display: block;">
                        <img ng-repeat="activity in outing.activities"
                             alt="{{activity}}"
                             ng-src="static/img/{{activity}}-24x24.png"/>
                        {{outing.locales[0].title}}
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-4">
        <div ng-controller="articlesController" class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Articles</h5>
                <div ibox-tools></div>
            </div>

            <div class="ibox-content" style="display: block;">
                <ul>
                    <li ng-repeat="article in data.documents|limitTo:15">
                        <span>
                            <a href="https://www.camptocamp.org/articles/{{article.document_id}}">
                                {{article.locales[0].title}}
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-controller="routesController" class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Routes</h5>
                <div ibox-tools></div>
            </div>

            <div class="ibox-content" style="display: block;">
                <ul>
                    <li ng-repeat="route in data.documents|limitTo:15">
                        <span>
                            <a href="https://www.camptocamp.org/routes/{{route.document_id}}">
                                {{route.locales[0].title}}
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>