<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h1>
            <outing-link-c2c outing="outing"/>
        </h1>
        <span>{{outing.date_start}}</span>,&nbsp;
        <span ng-repeat="user in outing.associations.users"><user-link-c2c user="user"/>&nbsp;</span>
    </div>

    <div class="ibox-content" style="display: block;">
        <div class="row">
            <div image_gallery class="col-sm-12" ng-if="outing.associations.images.length"
                 images="outing.associations.images"/>
        </div>
        <div class="row">
            <div class="col-sm-9 b-r">
                <h1>Description</h1>
                <div markdown="outing.locales[0].description"/>
                <h1 ng-if="outing.locales[0].conditions">Conditions</h1>
                <div markdown="outing.locales[0].conditions"/>

            </div>
            <div class="col-sm-3">
                <div><activities activities="outing.activities"/></div>
                <div><label>Frequentation :</label>{{outing.frequentation}}</div>
                <h3>Routes</h3>
                <route_list routes="outing.associations.routes"/>
            </div>
        </div>
    </div>
</div>

