<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h1>
            <outing-link-c2c outing="outing"/>
        </h1>
        <h3>
            <span>{{outing.date_start}}</span>,&nbsp;
            <span ng-repeat="user in outing.associations.users"><user-link user="user"/>,&nbsp;</span>
            {{outing.locales[0].participants}}
        </h3>
    </div>

    <div class="ibox-content" style="display: block;">
        <div class="row">
            <div image_gallery class="col-sm-12" ng-if="outing.associations.images.length"
                 images="outing.associations.images"/>
        </div>
        <div class="row">
            <div class="col-sm-9 b-r">
                <h2 ng-if="outing.locales[0].route_description">Route description</h2>
                <div markdown="outing.locales[0].route_description"/>
                <h2 ng-if="outing.locales[0].description">Description</h2>
                <div markdown="outing.locales[0].description"/>
                <h2 ng-if="outing.locales[0].conditions">Conditions</h2>
                <div markdown="outing.locales[0].conditions"/>

            </div>
            <div class="col-sm-3 b-l">
                <div ng-if="outing.frequentation"><label>Frequentation :</label>{{outing.frequentation}}</div>
                <div ng-if="outing.locales[0].timing"><label>Timing :</label>{{outing.locales[0].timing}}</div>
                <div ng-if="outing.locales[0].weather"><label>Weather :</label>{{outing.locales[0].weather}}</div>
                <route_list routes="outing.associations.routes"/>
            </div>
        </div>
    </div>
</div>

