<div class="row">
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Filters</h5>
            </div>
            <div class="ibox-content" style="display: block;">
                todo
            </div>
        </div>
    </div>

    <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Outings</h5>
            </div>
            <div ng-controller="outings" class="ibox-content" style="display: block;">
                <div ui-grid="{data:outings.documents,columnDefs:columnDefs}" style="height: 500px;"></div>
            </div>
        </div>
    </div>
</div>
