<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h4>
            <activities activities="route.activities"/>
            <route-link-c2c route="route"/>
            <rating route="route"/>
        </h4>
    </div>

    <div class="ibox-content" style="display: block;">
        <h3>Summary</h3>
        <div markdown="route.locales[0].summary"/>

        <h3>Description</h3>
        <div markdown="route.locales[0].description"/>
        <div markdown="route.locales[0].remarks"/>
    </div>
</div>

<outing-list outings="route.associations.recent_outings"/>

<!--{{route}}-->
