<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h1>
            <route-link-c2c route="route"/>
        </h1>
    </div>

    <div class="ibox-content" style="display: block;">
        <div class="row">
            <div image_gallery class="col-sm-12" ng-if="route.associations.images.length"
                 images="route.associations.images"/>
        </div>
        <div class="row">
            <div class="col-sm-8 b-r">
                <h1 ng-if="route.locales[0].summary">Summary</h1>
                <div markdown="route.locales[0].summary"/>

                <h1 ng-if="route.locales[0].description">Description</h1>
                <div markdown="route.locales[0].description"/>

                <h1 ng-if="route.locales[0].remarks">Remarks</h1>
                <div markdown="route.locales[0].remarks"/>

                <h1 ng-if="route.locales[0].gear">Gears</h1>
                <div markdown="route.locales[0].gear"></div>


            </div>
            <div class="col-sm-4">
                <div>
                    <activities activities="route.activities"/>
                    <rating route="route"/>
                </div>

                <div ng-if="route.height_diff_difficulties">
                    <label>Difficulties height :</label>{{route.height_diff_difficulties}}
                </div>

                <div>
                    <label>Configuration :</label>{{route.configuration.join(', ')}}
                </div>

                <div ng-if="route.route_types">
                    <label>Route type :</label>{{route.route_types}}
                </div>

                <div>
                    <label>Orientation :</label>{{route.orientations.join(', ')}}
                </div>

                <div>
                    <label>Glacier gears :</label> {{route.glacier_gear}}
                </div>

                <h3>Waypoints
                </h3>
                <waypoint-list waypoints="route.associations.waypoints"/>

                <h3>Recent outings
                    <button class="btn btn-sm btn-primary">Add outing</button>
                </h3>
                <outing-list outings="route.associations.recent_outings.documents"/>
            </div>
        </div>
    </div>
</div>
