body{
   // background-color:#e9ebee ! important
}


////////////////////////////////////////////////////////////////////
.container-fluid {
    padding: 10px 60px 10px 60px;
  //  height:calc(100% - 50px); //50 is the height of the nav bar
  //  min-height:280px;
}


////////////////////////////////////////////////////////////////////



h1 {
  font-size: 26px; }

h2 {
  font-size: 23px; }

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px; 
}

h5 {
  font-size: 12px; 
}

h6 {
  font-size: 10px; 
}

////////////////////////////////////////////////////////////////////

.gallery{
    margin-bottom:10px;
    margin-left:30px;
    margin-right:30px;
}

gallery{
    height:200px;
    display:block;
}

.gallery img{
    height : 200px;
    padding:3px
}

////////////////////////////////////////////////////////////////////
// fix all ibox

.ibox{
    padding: 0px;
    margin: 7px;
}


.ibox-tools .dropdown-menu > li > a {
    padding: 0px 10px;
}

.ibox-tools > a.active > i {
    color: #1ab394;
}

.ibox-tools > a > i.fa {
    font-size: 16px;
}

.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4{
  display: inline-block;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
 // float: left;
}

.ibox .ibox-title,
.ibox .ibox-content,
.ibox .ibox-footer{
    -moz-box-shadow: 3px 3px 6px 0px #ccc;
    -webkit-box-shadow: 3px 3px 6px 0px #ccc;
    -o-box-shadow: 3px 3px 6px 0px #ccc;
    box-shadow: 3px 3px 6px 0px #ccc;
}


////////////////////////////////////////////////////
// outings-directive

.outings-directive-compact user-link a{
    font-style: italic;
    color:#AAA;
}

.outings-directive-compact outing-link:after{
    content : "  \2219";
    font-style:normal;
}

.outings-directive-compact .icon-picture-presence:before{
    content : "\2219  ";
    font-style:normal;
}

.outings-directive .outing-line:hover{
    background:#F8F8F8
}

.outings-directive .outing-area{
    font-style:italic;
}

.outings-directive .outing-area:before{
    content : "\2219  ";
    font-style:normal;
}

////////////////////////////////////////////////////////////////////

.ui-grid-cell-contents {
    display:block
}

////////////////////////////////////////////////////////////////////
// by default, link are in normal color
a {
    color:#676a6c;
}

// by default, link hover is green underlyed
a:hover {
    color:#1ab394;
    text-decoration: underline;
}

//and orange for c2c
a[href^="https://www.camptocamp.org"]:hover,
a[href^="https://forum.camptocamp.org"]:hover {
    color: #FFAA45;
}

////////////////////////////////////////////////////////////////////
//but in markdown, we must show what is a link
markdown a{
    color:#1ab394;
}

//and what is a c2c link
markdown a[href^="https://www.camptocamp.org"],
markdown a[href^="https://forum.camptocamp.org"],{
    color: #FFAA45;
}


markdown figure.image-left,
markdown figure.image-center,
markdown figure.image-right{
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 5px;
    background-color: rgba(234,234,234,.37);
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    cursor: pointer;
    margin-bottom:20px;
 }

markdown figure.image-left,
markdown figure.image-right{
    width:33%;
    max-width:300px;
 }

markdown figure.image-left img,
markdown figure.image-right img{
    width:100%;
 }

markdown figure.image-right{
    float: right;
    clear: right;
    margin-left:10px;
}

markdown figure.image-left{
    float: left;
    clear: left;
    margin-right:25px;
}


markdown figure.image-center{
    display:table-cell
}

markdown figure.image-big img{
    max-width: 100%!important;
}

markdown table{
    border:1px solid lightgrey ;
}

markdown table th,
markdown table td{
    border:1px dashed white ;
    vertical-align: text-top;
    padding:2px 4px 2px 4px;
    font-size:90%;
}

markdown table tr td:first-child{
font-weight:bold;
}

markdown table tr:nth-child(even) {background: #EEE}
markdown table tr:nth-child(odd) {background: #FFF}
markdown table th{background: #DDD}


////////////////////////////////////////////////////////////////////


.quality-great{
    color:yellow;
}

.quality-fine{
    color:LightGreen ;
}

.quality-medium{
    color:LightGrey  ;
}

.quality-draft{
    color:LightCoral   ;
}


////////////////////////////////////////////////////////////////////

.condition-excellent{
    color:green;
}

.condition-good{
    color:#9ACD32;
}

.condition-average{
    color:yellow;
}

.condition-poor{
    color:red;
}

.condition-awful{
    color:#8B0000;
}

////////////////////////////////////////////////////////////////////////

// home specific


.home-view .ibox-content a:visited {
    color:#1ab394;
}

.home-view .button-save-query,
.home-view .button-load-more{
    display:none;
}

.previous-arrow,
.next-arrow{
    display:none;
}

.home-view .previous-arrow,
.home-view .next-arrow{
    display:inline;
}


////////////////////////////////////////////////////////////////////
// waypoint, route,  specific

.item-header{
  //  margin-bottom:15px
}

.item-metadata{
    padding-top:5px;
    padding-bottom:5px;
    margin:0px 10px;
}

.item-header label{
    margin-bottom:2px;
}

.item-header label:after{
    content:" :"
}

.item-header label:first-letter {
    text-transform: uppercase;
}

.stories-view .ibox-title h1,
.area-view .ibox-title h1,
.route-view .ibox-title h1,
.user-view .ibox-title h1,
.waypoint-view .ibox-title h1{
    display:inline
}

.followed-icon{
    color:gold;
}

.ibox-title .add-outing-button,
.ibox-title .follow-button{
    font-size:20px;
    cursor:pointer;
}

.stories-view .badge,
.user-view .badge,
.area-view .badge,
.route-view .badge,
.waypoint-view .badge{
    margin-bottom:10px
}


.stories-view .ibox-title .badge:first-letter,
.outing-view .ibox-title .badge:first-letter,
.route-view .ibox-title .badge:first-letter,
.waypoint-view .ibox-title .badge:first-letter,
.article-view .ibox-title .badge:first-letter,
.area-view .ibox-title .badge:first-letter,
.xreport-view .ibox-title .badge:first-letter{
    text-transform: uppercase;
}

////////////////////////////////////////////////////////////////////
// user specific

.user-view h3{
    margin-top:30px;
    margin-bottom:10px;
}

.user-view divmarkdown{
text-align:justify
}
////////////////////////////////////////////////////////////////////


.outing-images-view .all-images{
    text-align: justify;
}

.outing-images-view .all-images:after{
    content:'';
    display: inline-block;
    width: 100%;
}

.outing-images-view .figure-container{
    display:inline-block;
    text-align:center;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 3px;
    background-color: rgba(234,234,234,.37);
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    margin:5px;
    vertical-align:top;
}

.outing-images-view figure{
    display: table;
 }

.outing-images-view figure img{
    display: block;
}

.outing-images-view figcaption{
    display: table-caption;
    caption-side: bottom;
}

////////////////////////////////////////////////////////////////////

.summary {
    background: #FAFAFB;
    border: 1px solid #e7eaec;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    padding-bottom: 0px;  // p elt has a margin bottom
    border-radius: 2px;
    border-left: 3px solid #1ab394;
}




////////////////////////////////////////////////////////////////////

.pswp__button--authors, .pswp__button--authors:before ,
.pswp__button--original-page, .pswp__button--original-page:before ,
.pswp__button--license, .pswp__button--license:before {
    padding:10px;
    font-size:18px;
    color:white;
    background-size: 20px 20px;
    width: 44px;
    height: 44px;
}


////////////////////////////////////////////////////////////////////
// c2c-items-view

.c2c-items-view h1:first-letter{
    text-transform: uppercase;
}

////////////////////////////////////////////////////////////////////

.query-editor{
    margin-left:10px;
    margin-right:10px;
    padding-bottom:0px
}

.query-editor .form-group{
    padding-left:5px;
    padding-right:5px;
}

#filterChooser .btn-rounded{
    padding-top:4px;
    padding-bottom:4px;
    margin-top:2px;
    margin-bottom:2px;
}

///////////////////
// all elements must have same height

.query-editor .form-group {
    padding-top:6px;
    padding-bottom:7px;
//    border:1px solid red;
}

.query-editor .btn-rounded {
    margin-bottom:0px
}

.query-editor .slider-container {
    padding-top:0px;
    padding-bottom:1px;
}

.rzslider {
    margin-top:35px;
    margin-bottom:3px;
}

.rzslider .rz-limit {
    color: #1ab394;
}
.rzslider .rz-selection {
    background: #1ab394;
}

.rzslider .rz-pointer {
    width: 16px;
    height: 16px;
    background-color: #23c6c8;
}

.rzslider .rz-pointer:after {
    display: none;
}

.rzslider .rz-bar-wrapper {
    padding-top: 8px;
}


///////////////////

.xreports-view .onoffswitch,
.areas-view .onoffswitch,
.articles-view .onoffswitch{
    display:none
}

.onoffswitch{
    margin-left:30px;
    width:54px;
    display:inline-table;
}
.onoffswitch-switch{
    height:20px
}

/////////////////////////

.mapWaypointsChoices,
.mapWaypointsToggler,
.mapFilterToggler{
    background-color : #fff;
    border : 2px solid #fff;
    border-radius : 3px;
    box-shadow : 0 2px 6px rgba(0,0,0,.3);
    cursor : pointer;
    margin : 10px 14px;
    text-align : center;
}

.mapFilterToggler input{
    color : rgb(25,25,25);
    font-family : Roboto,Arial,sans-serif;
    margin:5px;
}

.waypoints-view .mapWaypointsToggler{
    display:none
}

.mapWaypointsToggler{
    margin-right:0px;
    padding : 5px;
    float:right;
}

.mapFilterToggler label{
    margin : 5px;
    margin-top : 0px;
    margin-left : 0px;
    vertical-align : middle;
    color : rgb(25,25,25);
}

.mapWaypointsChoices{
    text-align : left;
    clear:both;
    margin-right:0px;
    cursor : normal;
}

.mapWaypointsChoices input{
    margin:5px;
    margin-right:2px;
}

.mapWaypointsChoices label{
    margin-right:5px;
    cursor : pointer;
}

.mapWaypointsChoices label:first-letter {
    text-transform: uppercase;
}


////////////////////////////////////////////////////


@media print{
    body{
        font-size:12px
    }
    .container-fluid {
        width:100%;
        padding:0px 20px;
    }

    a[href]:after {
        content: none !important;
    }

    .ibox-title{
        border:none
    }

    .ibox-content{
        padding:0px
    }

    markdown table{
        border:1px solid lightgrey  ! important;
    }

    markdown table th,
    markdown table td{
        border:1px solid lightgrey  ! important;
        vertical-align: text-top  ! important;
        padding:2px 4px 2px 4px  ! important;
    }

    markdown table tr:nth-child(even) {
        background: #EEE ! important
    }

    markdown table th{
        background: #DDD ! important
    }

    markdown table tr td:first-child{
        font-weight:bold;
    }
}
