<div>
    <slick class="gallery"
           ng-if="images.length"
           slides-to-scroll="2"
           variable-width="true"
           infinite="false">
        <span ng-repeat="image in images">
            <img
                ng-click="photoswipe.showGallery(image.document_id)"
                alt="{{image.locales[0].title}}"
                title="{{image.locales[0].title}}"
                ng-src="https://media.camptocamp.org/c2corg_active/{{image.filename.replace('.', 'MI.').replace('.svg', '.jpg')}}"/>
        </span>
    </slick>
</div>
