<span class="license">
    <a href="https://www.camptocamp.org/{{type}}s/{{id}}"
       target="_blank"
       uib-tooltip="{{'Original page' | translate }}">
        <i class="fa fa-external-link"></i>
    </a>
    -
    <a href="https://www.camptocamp.org/{{type}}s/history/{{id}}/fr"
       target="_blank"
       uib-tooltip="{{'List of authors' | translate }}">
        <i class="fa fa-users"></i>
    </a>
    -
    <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.fr" target="_blank"
       ng-if="cc=='by-sa'"
       uib-tooltip="CreativeCommons">
        <i class="fa fa-creative-commons"></i> CC BY-SA 3.0
    </a>
    <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.fr" target="_blank"
       ng-if="cc=='by-nc-nd'"
       uib-tooltip="CreativeCommons">
        <i class="fa fa-creative-commons"></i> CC BY-NC-ND 3.0
    </a>

</span>