<div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <a class="pswp__button pswp__button--authors"
                       href="https://www.camptocamp.org/images/history/{{item.document_id}}/fr"
                       target="_blank"
                       title="Authors">
                        <i class="fa fa-users"></i>
                    </a>

                    <a class="pswp__button pswp__button--original-page"
                       href="https://www.camptocamp.org/images/{{item.document_id}}"
                       target="_blank"
                       title="{{'Original page' | translate }}">
                        <i class="fa fa-external-link"></i>
                    </a>
                    <a class="pswp__button pswp__button--license"
                       href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.fr"
                       target="_blank"
                       title="CreativeCommons">
                        <i class="fa fa-creative-commons"></i>
                    </a>
                    <a class="pswp__button pswp__button--license"
                       ng-if="!!details[item.document_id].associations.outings.length!=0"
                       ui-sref="outing({id:details[item.document_id].associations.outings[0].document_id})"
                       title="{{'Outing' | translate }}">
                        <i class="fa fa-file-image-o"></i>
                    </a>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
</div>
