<div>
    <loading-info></loading-info>
    <div ng-repeat="(date, values) in data.documents | groupBy: 'date_start'">
        <h4 ng-if="display!=='compact'">{{ date | date }}</h4>
        <div ng-repeat="outing in values" class="outing-line">
            <div class="pull-left" ng-if="display!=='compact'">
                <activities activities="outing.activities"></activities>
                <outing-link outing="outing"></outing-link>
                <span class="outing-area">{{getLocale(outing.areas[outing.areas.length-1]).title}}</span>
                <i class="fa fa-star followed-icon"
                   ng-if="currentUser.isFollowed(details[outing.document_id])"></i>
            </div>
            <div class="pull-right" ng-if="display!=='compact'">
                <i class="fa fa-camera icon-picture-presence"
                   uib-tooltip="{{ details[outing.document_id].associations.images.length + ' images'}}"
                   ng-if="!!details[outing.document_id].associations.images.length!=0"></i>
                <i class="fa fa-circle-thin"
                   ng-if="!outing.condition_rating"></i>
                <condition-icon ng-if="outing.condition_rating"
                                condition="outing.condition_rating"></condition-icon>
            </div>
            <div ng-if="display==='compact'">
                <i class="fa fa-circle-thin"
                   ng-if="!outing.condition_rating"></i>
                <condition-icon ng-if="outing.condition_rating"
                                condition="outing.condition_rating"></condition-icon>
                {{ date | date }}
                :
                <outing-link outing="outing"/>
                <i class="fa fa-camera icon-picture-presence"
                   uib-tooltip="{{ details[outing.document_id].associations.images.length + ' images'}}"
                   ng-if="!!details[outing.document_id].associations.images.length!=0"></i>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
