<div class="outings-directive outings-directive-{{display}}">
    <loading-info/>
    <div ng-repeat="(date, values) in data.documents | groupBy: 'date_start'">
        <h4 ng-if="display!=='compact'">{{ date | date }}</h4>
        <div ng-repeat="outing in values" class="outing-line">
            <div class="pull-left" ng-if="display!=='compact'">
                <activities activities="outing.activities"></activities>
                <outing-link outing="outing"></outing-link>
                <span class="outing-area">{{getLocale(outing.areas[outing.areas.length-1]).title}}</span>
            </div>
            <div class="pull-right" ng-if="display!=='compact'">
                <i class="fa fa-camera icon-picture-presence"
                   uib-tooltip="{{ outing.img_count + ' images'}}"
                   ng-if="outing.img_count!=0"></i>
                <i class="fa fa-circle-thin"
                   ng-if="!outing.condition_rating"></i>
                <condition-icon ng-if="outing.condition_rating"
                                condition="outing.condition_rating"></condition-icon>
            </div>
            <div ng-if="display==='compact'">
                <i class="fa fa-circle-thin"
                   ng-if="!outing.condition_rating"></i>
                <condition-icon ng-if="outing.condition_rating"
                                condition="outing.condition_rating"></condition-icon>
                {{ date | date:'dd/MM/yyyy' }}
                :
                <outing-link outing="outing"/>
                <user-link user="outing.author"/>
                <span class="icon-picture-presence"
                      ng-if="outing.img_count!=0">
                <i class="fa fa-camera"
                   uib-tooltip="{{ outing.img_count + ' images'}}"></i>
                </span>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
