<div class="ibox diff-view">

    <div class="ibox-title">
        <h1>
            <i class="fa fa-history"></i>
            <span translate>diff</span>
            :
            {{ctrl.name}}&nbsp;
        </h1>
        <wiki-tools/>
    </div>
    <div class="ibox-content">
        <div class="row versions-info">
            <div class="col-md-6">
                <div ng-if="ctrl.oldDoc.$resolved">
                    <a ui-sref="diff({name:ctrl.oldDoc.name, hid:ctrl.oldDoc.hid, offset:undefined})"
                       class="badge badge-primary">
                        ← Previous diff
                    </a>
                    <old-document-link document="ctrl.oldDoc"/>
                    <br/>
                    <span translate>by</span>
                    {{ctrl.oldDoc.user}}
                    (<a ui-sref="contributions({username:ctrl.oldDoc.user})">contributions</a>)
                    <br/>
                    {{ctrl.oldDoc.comment}}
                </div>
                <div ng-if="!ctrl.oldDoc" translate>
                    It's the oldest version
                </div>
            </div>
            <div class="col-md-6">
                <div ng-if="ctrl.newDoc.$resolved">
                    <old-document-link document="ctrl.newDoc"/>
                    <a ui-sref="diff({name:ctrl.newDoc.name, hid:ctrl.newDoc.hid, offset:'next'})"
                       class="badge badge-primary">
                        Next diff →
                    </a>
                    <br/>
                    <span translate>by</span>
                    {{ctrl.newDoc.user}}
                    (<a ui-sref="contributions({username:ctrl.newDoc.user})">contributions</a>)
                    <br/>
                    {{ctrl.newDoc.comment}}
                </div>
                <div ng-if="!ctrl.newDoc" translate>
                    It's the latest version
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12" ng-if="!ctrl.newDoc">
                <pre class="content-diff">{{ctrl.oldDoc.content}}</pre>
            </div>

            <div class="col-md-12" ng-if="!ctrl.oldDoc">
                <pre class="content-diff">{{ctrl.newDoc.content}}</pre>
            </div>

            <div class="col-md-6" ng-if="ctrl.contentDiff">
                <div class="content-diff">
                    <div ng-repeat="diff in ctrl.contentDiff">
                        <del ng-if="diff.removed" ng-repeat="line in diff.lines track by $index">{{line}}</del>
                        <span ng-if="!diff.removed && !diff.added" ng-repeat="line in diff.lines track by $index">{{line}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-if="ctrl.contentDiff">
                <div class="content-diff">
                    <div ng-repeat="diff in ctrl.contentDiff">
                        <ins ng-if="diff.added" ng-repeat="line in diff.lines track by $index">{{line}}</ins>
                        <span ng-if="!diff.removed && !diff.added" ng-repeat="line in diff.lines track by $index">{{line}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>