

h3{
margin-top:15px;
margin-bottom:5px;
}

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

////////////////////////////////////////////////////////////////////
.top-navigation .wrapper.wrapper-content {
  padding-top: 10px; }


.wrapper .middle-box {
    margin-top: 0px;
}


////////////////////////////////////////////////////////////////////

.gallery{
    margin-bottom:10px;
    margin-left:30px;
    margin-right:30px;
}

gallery{
    height:200px;
    display:block;
}

.gallery img{
    height : 200px;
    padding:3px
}

////////////////////////////////////////////////////////////////////

.ibox {
  padding: 0px;
  margin: 7px;
  }

.ibox-tools .dropdown-menu > li > a {
    padding: 0px 10px;
}

.ibox-tools > a.active > i {
    color: #1ab394;
}

.ibox-tools > a > i.fa {
    font-size: 16px;
}



.ibox-content h6 {
  font-size: 12px;
  font-weight:bold;
  margin: 0 0 7px;
  padding: 0;
}

.ibox-title h3 , .ibox-title h4{
  display: inline-block;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}


////////////////////////////////////////////////////////////////////

.ui-grid-cell-contents {
display:block
}

////////////////////////////////////////////////////////////////////
// by default, link are in normal color
a {
color:#676a6c;
}

// by default, link hover is green underlyed
a:hover {
color:#1ab394;
text-decoration: underline;
}

//and orange for c2c
a[href^="https://www.camptocamp.org"]:hover,
a[href^="https://forum.camptocamp.org"]:hover {
    color: #FFAA45;
}

////////////////////////////////////////////////////////////////////
//but in markdown, we must show what is a link
[markdown] a{
color:#1ab394;
}

//and what is a c2c link
[markdown] a[href^="https://www.camptocamp.org"],
[markdown] a[href^="https://forum.camptocamp.org"],{
    color: #FFAA45;
}


[markdown] figure.image-left,
[markdown] figure.image-center,
[markdown] figure.image-right{
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 5px;
    background-color: rgba(234,234,234,.37);
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    cursor: pointer;
    margin-bottom:20px;
 }

[markdown] figure.image-left img,
[markdown] figure.image-right img{
    width:300px;
 }

[markdown] figure.image-right{
    float: right;
    clear: right;
    margin-left:10px;
}

[markdown] figure.image-left{
    float: left;
    clear: left;
    margin-right:25px;
}


[markdown] figure.image-center{
    display:table-cell
}

[markdown] figure.image-big img{
    max-width: 100%!important;
}

[markdown] table td{
    border:1px solid lightgrey;
    vertical-align: text-top;
    padding:2px 4px 2px 4px;
    font-size:90%;
}

////////////////////////////////////////////////////////////////////


.quality-great{
color:yellow;
}

.quality-fine{
color:LightGreen ;
}

.quality-medium{
color:LightGrey  ;
}

.quality-draft{
color:LightCoral   ;
}


////////////////////////////////////////////////////////////////////

.condition-excellent{
color:green;
}

.condition-good{
color:#9ACD32;
}

.condition-average{
color:yellow;
}

.condition-poor{
color:red;
}

.condition-awful{
color:#8B0000;
}


////////////////////////////////////////////////////////////////////////
// home specific

.home-view .outing-box .outing-line:hover{
background:#F8F8F8
}

.home-view .outing-box .outing-line .quality-medium,
.home-view .outing-box .outing-line .quality-draft,
.home-view .outing-box .outing-line .quality-empty{
visibility:none
}

.home-view .outing-area{
font-style:italic;
}

.home-view .outing-area::before{
    content : "\2219  ";
    font-style:normal;
}

.home-view .ibox-content a:visited {
    color:#1ab394;
}

.home-view .button-save-query{
display:none;
}


////////////////////////////////////////////////////////////////////
// route specific

.route-header{
    margin-bottom:15px
}

////////////////////////////////////////////////////////////////////
// user specific

.user-view h3{
    margin-top:30px;
    margin-bottom:10px;
}

.user-view div[markdown]{
text-align:justify
}
////////////////////////////////////////////////////////////////////


.outing-images-view img{
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 3px;
    background-color: rgba(234,234,234,.37);
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    margin:5px;
 }

////////////////////////////////////////////////////////////////////

.summary {
  background: #FAFAFB;
  border: 1px solid #e7eaec;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  padding-bottom: 0px;  // p elt has a margin bottom
  border-radius: 2px;
  border-left: 3px solid #1ab394;
}




////////////////////////////////////////////////////////////////////

.pswp__button--authors, .pswp__button--authors:before ,
.pswp__button--original-page, .pswp__button--original-page:before ,
.pswp__button--license, .pswp__button--license:before {
  padding:10px;
  font-size:18px;
  color:white;
  background-size: 20px 20px;
  width: 44px;
  height: 44px;
}


////////////////////////////////////////////////////////////////////

.outings-view h3:first-letter,
.routes-view h3:first-letter,
.waypoints-view h3:first-letter,
.articles-view h3:first-letter,
.areas-view h3:first-letter,
.xreports-view h3:first-letter{
    text-transform: uppercase;
}
////////////////////////////////////////////////////////////////////

.query-editor{
margin-left:10px;
margin-right:10px;
padding-bottom:0px
}

.query-editor .form-group{
    padding-left:5px;
    padding-right:5px;
}

#filterChooser .btn-rounded{
    padding-top:4px;
    padding-bottom:4px;
    margin-top:2px;
    margin-bottom:2px;
}

///////////////////:

.query-editor .form-group{
//border:1px solid red
}

.slider-container {
    margin-bottom:0px
}

.rzslider {
    margin-top:23px
}

.rzslider .rz-selection {
  font-weight: bold;
  background: #1ab394;
}

.rzslider .rz-pointer {
  width: 16px;
  height: 16px;
  top: -10px ;
  background-color: #23c6c8;
}

.rzslider .rz-pointer:after {
    display: none;
}


.rzslider .rz-limit {
  color: #1ab394;
}




.rzslider .rz-bar-wrapper {
  padding-top: 8px;
  margin-top: -12px;
  height:20px;
}


///////////////////:
