.container {
    width:100%
}

.top-navigation .wrapper.wrapper-content{
padding:0px
}

a[href]:after {
    content: "";
}

.ibox-title .badge,
.add-outing-button,
.item-metadata,
.follow-button{
    display:none
}

[markdown] table{
    border:1px solid lightgrey  ! important;
}

[markdown] table th,
[markdown] table td{
    border:1px solid lightgrey  ! important;
    vertical-align: text-top  ! important;
    padding:2px 4px 2px 4px  ! important;
}

[markdown] table tr:nth-child(even) {background: #EEE ! important}
[markdown] table th{background: #DDD ! important}

[markdown] table tr td:first-child{
font-weight:bold;
}
