<div class="ibox-tools dropdown" dropdown>
    <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
    <a ng-show="queries" class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-filter"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li ng-click="setQuery()"><a href><i class="fa fa-remove"></i> Clear</a></li>
        <li role="separator" class="divider"></li>
        <li ng-repeat="(k,v) in queries" ng-click="setQuery(v)"><a href>{{k}}</a></li>
        <li role="separator" class="divider"></li>
        <li><a href><i class="fa fa-gear"></i> Parameters</a></li>
    </ul>
    <a ng-click="closebox()"><i class="fa fa-times"></i></a>
</div>