<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                    class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a ui-sref="home" class="navbar-brand">CampUI</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="home"><i class="fa fa-home"></i> <span
                            class="nav-label">Home</span> </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="outings">
                        <i class="fa fa-file-image-o"></i>
                        <span class="nav-label">Outings</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="routes">
                        <i class="fa fa-road"></i> <span class="nav-label">Routes</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="articles">
                        <i class="fa fa-file-text-o"></i> <span class="nav-label">Articles</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="xreports">
                        <i class="fa fa-warning"></i>
                        <span class="nav-label">Incidents</span>
                    </a>
                </li>

                <li ui-sref-active="active" ng-controller="authController" ng-show="authState.user.username" >
                    <a ui-sref="user({username : authState.user.username})">
                        <i class="fa fa-user"></i>
                        <span class="nav-label">{{authState.user.username}}</span>
                    </a>
                </li>

                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-rocket"></i>
                        Misc
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://forum.camptocamp.org/users/CharlesB/summary" target="_blank">
                                <i class="fa fa-phone"></i> <span class="nav-label">Contact</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/cbeauchesne/campui/issues/new" target="_blank">
                                <i class="fa fa-bug"></i> <span class="nav-label">Report a bug</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="credits">
                                <i class="fa fa-copyright"></i> <span class="nav-label">Credits</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-top-links navbar-right" ng-controller="authController">
                <li ng-show="authState.user.username">
                    <a href="/" ng-click="logout()">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

            <form id="id_auth_form" ng-hide="authState.user.username" class="navbar-form navbar-right" ng-submit="login()"
                  ng-controller="authController">
                <div class="form-group">
                    <input ng-model="username" required name="username" type="text"
                           placeholder="username"
                           class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="password" required name="password" type="password"
                           placeholder="password" class="form-control">
                </div>
                <div class="btn-group">
                    <input type="submit" class="btn btn-primary" value="login">
                    <input type="submit" class="btn btn-info" value="register"
                           ng-click="register($event)">
                </div>
            </form>
        </div>
    </nav>
</div>