<div class="ibox float-e-margins area-view">
    <div class="ibox-title">
        <h1>
            <i class="fa fa-map-o"></i>
            <area-link-c2c area="area"></area-link-c2c>
        </h1>
        <linked-waypoints item="area"></linked-waypoints>
        <linked-routes item="area"></linked-routes>
        <linked-outings item="area"></linked-outings>
        <span class="pull-right" license type="'area'" id="area.document_id" cc="'by-sa'"></span>
    </div>

    <div class="ibox-content" style="display: block;">
        <div class="row">
            <div class="col-sm-12">

                <div class="summary" ng-if="currentLocale.summary">
                    <markdown content="currentLocale.summary"></markdown>
                </div>

                <h2 ng-if="currentLocale.description" translate>Description</h2>
                <markdown content="currentLocale.description"></markdown>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div gallery class="col-sm-12" ng-if="area.associations.images.length"
                     images="area.associations.images"></div>
            </div>
        </div>
    </div>
</div>
