<div class="ibox float-e-margins article-view">
    <div class="ibox-title">
        <h1>
            <i class="fa fa-file-text-o"></i>
            <article-link-c2c article="article"></article-link-c2c>
        </h1>
    </div>

    <div class="ibox-content" style="display: block;">

        <div class="row article-header">
            <div class="col-sm-4">

                <div>
                    <activities activities="article.activities"></activities>
                    <rating article="article"></rating>
                </div>

            </div>

            <div class="col-sm-4">
                <div license type="'article'"
                     id="article.document_id"
                     cc="article.article_type=='collab' ? 'by-sa' : 'by-nc-nd'"></div>
            </div>

            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <markdown content="currentLocale.description"></markdown>

            </div>
        </div>
    </div>
</div>