<div class="{{c2c_item}}s-view c2c-items-view ibox">
    <div class="ibox-title">
        <h1>{{c2c_item + 's' | translate}}</h1>

        <div ng-if="data" class="onoffswitch" uib-tooltip="{{ 'map' | translate }}">
            <input type="checkbox" ng-model="mapData.visible" ng-change="mapData.toggleMapView(data)"
                   class="onoffswitch-checkbox" id="mapToggler">
            <label class="onoffswitch-label" for="mapToggler">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>

        <ibox-tools></ibox-tools>
    </div>
    <div class="ibox-content query-editor">

        <div class="row">

            <filter-item ng-repeat="(itemId, itemValue) in qe.queryModel"
                         query-editor="qe"
                         item-id="itemId">
            </filter-item>

            <div class="form-group col-md-3">
                <div class="dropdown" ng-if="qe.filterItemStorage.storage">
                    <button class="btn btn-sm btn-rounded badge-success"
                            type="button"
                            data-toggle="modal"
                            data-target="#filterChooser">

                        <!--<span translate>Add a item</span>-->
                        <i class="fa fa-plus"></i>
                        <span translate>Add a filter item</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox-content">

        <loading-info></loading-info>

        <div ng-if="data && !mapData.visible"
             ui-grid="{data:data.documents, columnDefs:columnDefs, infiniteScrollDown: true, onRegisterApi:onRegisterApi,infiniteScrollRowsFromEnd:5, enableGridMenu:true, exporterMenuVisibleData:false, exporterMenuPdf:false, exporterCsvColumnSeparator:';'}"
             ui-grid-infinite-scroll
             ui-grid-exporter
             style="height: 500px;">
        </div>
        <div ng-if="data && mapData.visible"
             map-lazy-load="http://maps.google.com/maps/api/js?key=AIzaSyAYiZ3lDd0WNJIOEWLO_y2tJHTmWmZG6oY">

            <ng-map street-view-control="false"
                    scale-control="true"
                    fullscreen-control="true"
                    style="height: 500px;"
                    on-click="mapData.hideWaypointsChooser()"
                    map-type-id="terrain">

                <custom-control position="TOP_RIGHT">
                    <div class="mapFilterToggler">
                        <input type="checkbox" id="mapFilterCheckbox"
                               ng-model="mapData.filterMode"
                               ng-change="mapData.toggleFilterMode()">
                        <label for="mapFilterCheckbox" translate>Use as a filter</label>
                    </div>
                </custom-control>

                <custom-control position="TOP_RIGHT">
                    <label class="mapWaypointsToggler"
                           ng-click="mapData._waypointsChooser = !mapData._waypointsChooser"
                           translate>
                        Waypoints
                    </label>
                    <div class="mapWaypointsChoices"
                         ng-if="mapData._waypointsChooser">
                        <table>
                            <tr>
                                <td>
                                    <div ng-repeat="wp in mapData.waypoint_types[0]">
                                        <input type="checkbox"
                                               id="map_wp_{{wp}}"
                                               ng-model="mapData.visibleWaypoints[wp]"
                                               ng-change="mapData.updateWaypoints()">
                                        <label for="map_wp_{{wp}}">{{ wp | translate }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="wp in mapData.waypoint_types[1]">
                                        <input type="checkbox"
                                               id="map_wp_{{wp}}"
                                               ng-model="mapData.visibleWaypoints[wp]"
                                               ng-change="mapData.updateWaypoints()">
                                        <label for="map_wp_{{wp}}">{{ wp | translate }}</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </custom-control>

            </ng-map>
        </div>
    </div>
</div>

<div id="filterChooser" class="modal fade" role="dialog">
    <div class="modal-dialog" ng-class="{'modal-lg':qe.filterItemStorage.storage.length>3}">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">
                    <i class="fa fa-filter"></i>
                    <span translate>Select filters</span>
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-{{qe.filterItemStorage.bootstrapCol}}"
                         ng-repeat="folder in qe.filterItemStorage.storage">
                        <h4>{{folder.label | translate}}</h4>
                        <div ng-repeat="itemId in folder.subItems">
                            <button class="btn btn-default btn-rounded"
                                    type="button"
                                    uib-tooltip="{{itemId}}"
                                    ng-class="{'active':qe.filterItemIsSelected(itemId)}"
                                    ng-click="qe.toggleFilterItem(itemId)">
                                <i class="fa fa-check"></i>
                                &nbsp;&nbsp;
                                <span>{{qe.filterItems[itemId].label | translate}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
