<div class="ibox contributions-view">

    <div class="ibox-title">
        <h1>
            <i class="fa fa-edit"></i>
            <span translate>contributions</span>
            :
            {{ctrl.username}}
        </h1>
    </div>

    <div class="ibox-content">
        <ul>
            <li ng-repeat="version in ctrl.versions.versions">
                <a class="badge badge-primary" ui-sref="diff({name:version.name, hid:version.hid})">diff</a>
                <a class="badge badge-info" ui-sref="edit({name:version.name, hid:version.hid})">edit</a>
                <a ui-sref="oldDocument({name:version.name, hid:version.hid})">
                    {{version.date | date }}
                    <span translate>at</span>
                    {{version.date | date :'HH:mm' }}
                </a>
                <a ui-sref="document({name:version.name})">{{version.name}}</a>
                :
                <span class="history-comment">{{version.comment}}</span>
            </li>
        </ul>
    </div>
</div>