This page won't be displayed.

it contains strings that must be translated, but are not presents in others HTML
obviously, strings from api

<span translate>poor</span>
<span translate>excellent</span>
<span translate>good</span>
<span translate>awful</span>
<span translate>average</span>

<span translate>skitouring</span>
<span translate>snow_ice_mixed</span>
<span translate>mountain_climbing</span>
<span translate>rock_climbing</span>
<span translate>ice_climbing</span>
<span translate>hiking</span>
<span translate>snowshoeing</span>
<span translate>paragliding</span>
<span translate>mountain_biking</span>
<span translate>via_ferrata</span>

<span translate>outings</span>
<span translate>routes</span>
<span translate>waypoints</span>
<span translate>areas</span>
<span translate>images</span>

<span translate>All outings</span>
<span translate>All routes</span>
<span translate>All waypoints</span>
<span translate>All images</span>

<span translate>loop</span>
<span translate>traverse</span>
<span translate>glacier_safety_gear</span>
<span translate>edge</span>
<span translate>face</span>
<span translate>quiet</span>

<span translate>areas</span>
<span translate>categories</span>
<span translate>activities</span>
<span translate>types</span>
<span translate>avalanche signs</span>
<span translate>elevation gain</span>
<span translate>orientations</span>
<span translate>elevation loss</span>
<span translate>language</span>
<span translate>max altitude</span>
<span translate>conditions</span>
<span translate>elevation gain</span>
<span translate>crowding</span>
<span translate>glacier rating</span>
<span translate>altitude of access point</span>
<span translate>completeness</span>
<span translate>max altitude</span>
<span translate>min altitude</span>
<span translate>routes</span>
<span translate>types</span>
<span translate>snow elevation (down)</span>
<span translate>snow quality</span>
<span translate>snow quantity</span>
<span translate>snow elevation (up)</span>
<span translate>waypoints</span>
<span translate>elevation</span>
<span translate>type</span>
<span translate>elevation</span>
<span translate>avalanche level</span>
<span translate>avalanche slope</span>
<span translate>impacted count</span>
<span translate>participants count</span>
<span translate>severity</span>
<span translate>type</span>
<span translate>exposition rock</span>
<span translate>durations</span>
<span translate>ski rating</span>
<span translate>ski exposition</span>
<span translate>labande ski rating</span>
<span translate>labande global rating</span>
<span translate>global rating</span>
<span translate>engagement rating</span>
<span translate>risk rating</span>
<span translate>equipment rating</span>
<span translate>ice rating</span>
<span translate>mixed rating</span>
<span translate>rock free rating</span>
<span translate>rock required rating</span>
<span translate>aid rating</span>
<span translate>via ferrata rating</span>
<span translate>hiking rating</span>
<span translate>hiking MTB exposition</span>
<span translate>snowshoe rating</span>
<span translate>MTB up rating</span>
<span translate>MTB down rating</span>
<span translate>rock types</span>
<span translate>climbing outdoor type</span>
<span translate>configuration</span>
<span translate>MTB length asphalt</span>
<span translate>MTB length trail</span>
<span translate>MTB portage</span>
<span translate>route length</span>
<span translate>difficulties height</span>
<span translate>height diff access</span>
<span translate>height diff difficulties</span>
<span translate>elevation</span>
<span translate>prominence</span>
<span translate>height max</span>
<span translate>height min</span>
<span translate>height median</span>
<span translate>routes quantity</span>
<span translate>length</span>
<span translate>capacity</span>
<span translate>capacity staffed</span>
<span translate>waypoint type</span>
<span translate>rock types</span>
<span translate>orientations</span>
<span translate>best periods</span>
<span translate>custodianship</span>
<span translate>climbing styles</span>
<span translate>access time</span>
<span translate>climbing rating max</span>
<span translate>climbing rating min</span>
<span translate>climbing rating median</span>
<span translate>children proof</span>
<span translate>rain proof</span>
<span translate>climbing outdoor types</span>
<span translate>climbing indoor types</span>
<span translate>paragliding rating</span>
<span translate>exposition rating</span>
<span translate>weather station</span>
<span translate>equipment ratings</span>
<span translate>public transportation types</span>
<span translate>public transportation rating</span>
<span translate>snow clearance rating</span>
<span translate>product types</span>


<span translate>Ratings</span>
<span translate>Snow</span>
<span translate>Terrain</span>
<span translate>Usefull</span>
<span translate>Misc.</span>
<span translate>Rock ratings</span>
<span translate>Snow/ice ratings</span>
<span translate>Other ratings</span>
<span translate>Terrain</span>

<span translate>mountain_environment</span>
<span translate>gear</span>
<span translate>technical</span>
<span translate>topoguide_supplements</span>
<span translate>soft_mobility</span>
<span translate>expeditions</span>
<span translate>stories</span>
<span translate>c2c_meetings</span>
<span translate>tags</span>
<span translate>site_info</span>
<span translate>association</span>
<span translate>skitouring</span>
<span translate>snow_ice_mixed</span>
<span translate>mountain_climbing</span>
<span translate>rock_climbing</span>
<span translate>ice_climbing</span>
<span translate>hiking</span>
<span translate>snowshoeing</span>
<span translate>paragliding</span>
<span translate>mountain_biking</span>
<span translate>via_ferrata</span>
<span translate>range</span>
<span translate>admin_limits</span>
<span translate>country</span>
<span translate>no</span>
<span translate>danger_sign</span>
<span translate>recent_avalanche</span>
<span translate>natural_avalanche</span>
<span translate>accidental_avalanche</span>
<span translate>N</span>
<span translate>NE</span>
<span translate>E</span>
<span translate>SE</span>
<span translate>S</span>
<span translate>SW</span>
<span translate>W</span>
<span translate>NW</span>
<span translate>fr</span>
<span translate>it</span>
<span translate>de</span>
<span translate>en</span>
<span translate>es</span>
<span translate>ca</span>
<span translate>eu</span>
<span translate>return_same_way</span>
<span translate>loop</span>
<span translate>loop_hut</span>
<span translate>traverse</span>
<span translate>raid</span>
<span translate>expedition</span>
<span translate>summit</span>
<span translate>pass</span>
<span translate>lake</span>
<span translate>waterfall</span>
<span translate>locality</span>
<span translate>bisse</span>
<span translate>canyon</span>
<span translate>access</span>
<span translate>climbing_outdoor</span>
<span translate>climbing_indoor</span>
<span translate>hut</span>
<span translate>gite</span>
<span translate>shelter</span>
<span translate>bivouac</span>
<span translate>camp_site</span>
<span translate>base_camp</span>
<span translate>local_product</span>
<span translate>paragliding_takeoff</span>
<span translate>paragliding_landing</span>
<span translate>cave</span>
<span translate>waterpoint</span>
<span translate>weather_station</span>
<span translate>webcam</span>
<span translate>virtual</span>
<span translate>misc</span>
<span translate>level_1</span>
<span translate>level_2</span>
<span translate>level_3</span>
<span translate>level_4</span>
<span translate>level_5</span>
<span translate>level_na</span>
<span translate>slope_lt_30</span>
<span translate>slope_30_35</span>
<span translate>slope_35_40</span>
<span translate>slope_40_45</span>
<span translate>slope_gt_45</span>
<span translate>avalanche</span>
<span translate>stone_fall</span>
<span translate>falling_ice</span>
<span translate>person_fall</span>
<span translate>crevasse_fall</span>
<span translate>roped_fall</span>
<span translate>physical_failure</span>
<span translate>lightning</span>
<span translate>other</span>
<span translate>10+</span>
<span translate>basalte</span>
<span translate>calcaire</span>
<span translate>conglomerat</span>
<span translate>craie</span>
<span translate>gneiss</span>
<span translate>gres</span>
<span translate>granit</span>
<span translate>migmatite</span>
<span translate>mollasse_calcaire</span>
<span translate>pouding</span>
<span translate>quartzite</span>
<span translate>rhyolite</span>
<span translate>schiste</span>
<span translate>trachyte</span>
<span translate>artificial</span>
<span translate>single</span>
<span translate>multi</span>
<span translate>bloc</span>
<span translate>psicobloc</span>
<span translate>edge</span>
<span translate>pillar</span>
<span translate>face</span>
<span translate>corridor</span>
<span translate>goulotte</span>
<span translate>glacier</span>
<span translate>jan</span>
<span translate>feb</span>
<span translate>mar</span>
<span translate>apr</span>
<span translate>may</span>
<span translate>jun</span>
<span translate>jul</span>
<span translate>aug</span>
<span translate>sep</span>
<span translate>oct</span>
<span translate>nov</span>
<span translate>dec</span>
<span translate>accessible_when_wardened</span>
<span translate>always_accessible</span>
<span translate>key_needed</span>
<span translate>no_warden</span>
<span translate>slab</span>
<span translate>vertical</span>
<span translate>overhang</span>
<span translate>roof</span>
<span translate>small_pillar</span>
<span translate>crack_dihedral</span>
<span translate>1min</span>
<span translate>5min</span>
<span translate>10min</span>
<span translate>15min</span>
<span translate>20min</span>
<span translate>30min</span>
<span translate>45min</span>
<span translate>1h</span>
<span translate>1h30</span>
<span translate>2h</span>
<span translate>2h30</span>
<span translate>3h</span>
<span translate>3h+</span>
<span translate>exposed</span>
<span translate>partly_protected</span>
<span translate>protected</span>
<span translate>inside</span>
<span translate>pitch</span>
<span translate>temperature</span>
<span translate>wind_speed</span>
<span translate>wind_direction</span>
<span translate>humidity</span>
<span translate>pressure</span>
<span translate>precipitation</span>
<span translate>precipitation_heater</span>
<span translate>snow_height</span>
<span translate>insolation</span>
<span translate>train</span>
<span translate>bus</span>
<span translate>service_on_demand</span>
<span translate>boat</span>
<span translate>cable_car</span>
<span translate>farm_sale</span>
<span translate>restaurant</span>
<span translate>grocery</span>
<span translate>bar</span>
<span translate>sport_shop</span>

<span translate>Invalid username/password.</span>

<span translate>safe</span>
<span translate>very_safe</span>
<span translate>dangerous</span>
<span translate>very_dangerous</span>
<span translate>partly_protected</span>

<span translate translate-context="frequentation">quiet</span>
<span translate translate-context="frequentation">some</span>
<span translate translate-context="frequentation">crowded</span>
<span translate translate-context="frequentation">overcrowded</span>

<span translate translate-context="Version as of date">as of</span>