<div class="ibox history-view">

    <div class="ibox-title">
        <h1>
            <i class="fa fa-history"></i>
            <span translate>History</span>
            :
            {{ctrl.versions.name}}&nbsp;
        </h1>
        <wiki-tools/>
    </div>
    <div class="ibox-content">
        <ul>
            <li ng-repeat="version in ctrl.versions.versions">
                <a class="badge badge-primary" ui-sref="diff({name:version.name, hid:version.hid})">diff</a>
                <a class="badge badge-info" ui-sref="edit({name:version.name, hid:version.hid})">edit</a>
                <a ui-sref="oldDocument({name:version.name, hid:version.hid})">
                    {{version.date | date }}
                    <span translate>at</span>
                    {{version.date | date :'HH:mm' }}
                </a>
                <a href="/user/{{version.user}}">{{version.user}}</a>
                :
                <span class="history-comment">{{version.comment}}</span>
            </li>
        </ul>

    </div>
</div>