<div class="ibox history-view">

    <div class="ibox-title">
        <h1>
            <i class="fa fa-history"></i>
            <span translate>History</span>
            :
            {{ctrl.versions.name}}&nbsp;
        </h1>
        <wiki-tools/>
    </div>
    <div class="ibox-content">
        <ul>
            <li ng-repeat="version in ctrl.versions.versions">
                <a href="{{ctrl.versions.name}}?diff={{version.hid}}">[diff]</a>
                <a href="{{ctrl.versions.name}}?oldid={{version.hid}}">
                    {{version.date | date }}
                    <span translate>at</span>
                    {{version.date | date :'HH:mm' }}
                </a>
                <a href="/user/{{version.user}}">{{version.user}}</a>
                :
                <span class="history-comment">{{version.comment}}</span>
            </li>
        </ul>

    </div>
</div>