<div class="home-view">

    <div class="row">
        <div class="col-lg-12 no-padding">
            <div ng-controller="imagesController" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Images</h3>
                    <ibox-tools/>
                </div>
                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>
                    <gallery images="data.documents"></gallery>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 no-padding outing-box">
            <div id="outings" ng-controller="outingsController" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Outings</h3>
                    <ibox-tools/>
                </div>
                <div class="ibox-content">
                    <outings data="data"/>
                </div>
            </div>
        </div>

        <div class="col-lg-5 no-padding">

            <div ng-if="true" ng-controller="forumController" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Forum</h3>
                </div>
                <div class="ibox-content">
                    <div ng-repeat="topic in latest_topics.topic_list.topics | limitTo:15">
                        <a href="{{'https://forum.camptocamp.org/t/' + topic.slug + '/' + topic.id + '/' + topic.highest_post_number}}"
                           target="_blank"
                        >
                            {{topic.title}}
                        </a>

                        <img class="pull-right"
                             height="16" width="16"
                             uib-tooltip="{{topic.last_poster_username}}"
                             ng-src="https://forum.camptocamp.org{{topic.last_poster_user.avatar_template.replace('{size}','16')}}">

                    </div>
                </div>
            </div>

            <div ng-controller="routesController" ng-init="qe.limit=10" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Routes</h3>
                    <ibox-tools/>
                </div>

                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>
                    <div ng-repeat="route in data.documents">
                        <span>
                            <activities activities="route.activities"></activities>
                            <route-link route="route"></route-link>
                            <span class="outing-area">{{getLocale(route.areas[route.areas.length-1]).title}}</span>
                        </span>
                    </div>
                </div>
            </div>


            <div ng-controller="articlesController" ng-init="qe.limit=5" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Articles</h3>
                    <ibox-tools/>
                </div>

                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>
                    <div ng-repeat="article in data.documents">
                        <span>
                            <article-link article="article"></article-link>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>