<div class="home-view">

    <div class="row">
        <div class="col-lg-12 no-padding">
            <div ng-controller="imagesController" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Images</h3>
                    <ibox-tools></ibox-tools>
                </div>
                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>
                    <gallery images="data.documents"></gallery>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 no-padding outing-box">
            <div id="outings" ng-controller="outingsController" ng-init="loadDetails=true" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Outings</h3>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>

                    <div ng-repeat="(date, values) in data.documents | groupBy: 'date_start'">
                        <h4>{{ date | date }}</h4>
                        <div ng-repeat="outing in values" class="outing-line">
                            <div class="pull-left">
                                <activities activities="outing.activities"></activities>
                                <outing-link outing="outing"></outing-link>
                                <span class="outing-area">{{getLocale(outing.areas[outing.areas.length-1]).title}}</span>
                                <i class="fa fa-star followed-icon"
                                   ng-if="currentUser.isFollowed(details[outing.document_id])"></i>
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-camera icon-picture-presence"
                                   uib-tooltip="{{ details[outing.document_id].associations.images.length + ' images'}}"
                                   ng-if="!!details[outing.document_id].associations.images.length!=0"></i>
                                <i class="fa fa-circle-thin"
                                   ng-if="!outing.condition_rating"></i>
                                <condition-icon ng-if="outing.condition_rating"
                                                condition="outing.condition_rating"></condition-icon>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 no-padding">

            <div ng-if="true" ng-controller="forumController" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Forum</h3>
                </div>
                <div class="ibox-content">
                    <div ng-repeat="topic in latest_topics.topic_list.topics | limitTo:15">
                        <a href="{{'https://forum.camptocamp.org/t/' + topic.slug + '/' + topic.id + '/' + topic.highest_post_number}}">
                            {{topic.title}}
                        </a>

                        <img class="pull-right"
                             height="16" width="16"
                             uib-tooltip="{{topic.last_poster_username}}"
                             ng-src="https://forum.camptocamp.org{{topic.last_poster_user.avatar_template.replace('{size}','16')}}">

                    </div>
                </div>
            </div>

            <div ng-controller="routesController" ng-init="qe.limit=10" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Routes</h3>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>
                    <div ng-repeat="route in data.documents">
                        <span>
                            <activities activities="route.activities"></activities>
                            <route-link route="route"></route-link>
                            <span class="outing-area">{{getLocale(route.areas[route.areas.length-1]).title}}</span>
                        </span>
                    </div>
                </div>
            </div>


            <div ng-controller="articlesController" ng-init="qe.limit=5" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Articles</h3>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>
                    <div ng-repeat="article in data.documents">
                        <span>
                            <article-link article="article"></article-link>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
