<div class="row faq-view">
    <div class="col-lg-12">
        <div ng-click="toggle('showAll')" class="btn btn-primary">
            <span ng-if="!showAll">Show all</span>
            <span ng-if="showAll">Show only errors</span>
        </div>

        <div ng-click="toggle('htmlView')" class="btn btn-primary">
            <span ng-if="!htmlView">HTML view</span>
            <span ng-if="htmlView">Code view</span>
        </div>

    </div>
</div>

<div class="row faq-view">
    <div class="col-lg-1">
        #Test
    </div>
    <div class="col-lg-3">
        Code
    </div>
    <div class="col-lg-8">
        Expected HTML<br>
        Result
    </div>
</div>

<div class="row faq-view"
     ng-repeat="item in items"
     ng-if="showAll || !item.success">

    <div class="col-lg-1"

         ng-class="{'bg-danger': !item.success}">
        #{{$index+1}} {{item.name}}
    </div>
    <div class="col-lg-3">
        <pre class="no-padding ">{{item.code}}</pre>
    </div>

    <div class="col-lg-8" ng-if="!htmlView">
        <pre class="no-padding">{{item.html}}
{{item.result}}</pre>
    </div>


    <div class="col-lg-8" ng-if="htmlView">
        <div class="no-padding">
            <markdown content="item.code"></markdown>
        </div>
    </div>

</div>
