<div class="outing-images-view" infinite-scroll="loadMore()">
    <div class="alert alert-info"
         ng-if="items.length==0 && data.documents.length==data.total && !data.loading"
         translate>
        There is not yet images on outings linked to this route
    </div>
    <div class="all-images">
        <span ng-repeat="item in items">
            <div class="figure-container">
                <figure>
                    <img height="200"
                         ng-click="photoswipe.showGallery(item.image.document_id)"
                         uib-tooltip="{{item.outing.date_start}} &#013; {{item.outing.associations.routes[0].locales[0].title_prefix}} : {{item.outing.associations.routes[0].locales[0].title}}"
                         alt="{{item.image.locales[0].title}}"
                         title="{{item.image.locales[0].title}}"
                         ng-src="https://media.camptocamp.org/c2corg_active/{{item.image.filename.replace('.', 'MI.').replace('.svg', '.jpg')}}"/>

                    <figcaption class="figcaption">
                        <a ui-sref="outing({id:item.outing.document_id})">
                            <condition-icon ng-if="item.outing.condition_rating"
                                            condition="item.outing.condition_rating"></condition-icon>
                            <span>{{item.image.locales[0].title}}</span>
                        </a>
                    </figcaption>
                </figure>
            </div>
        </span>
    </div>
</div>

