<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h1>
            <i class="fa fa-file-image-o"></i>
            <outing-link-c2c outing="outing"></outing-link-c2c>
            <small>{{outing.date_start}}</small>
            &nbsp;
        </h1>
    </div>

    <div class="ibox-content" style="display: block;">

        <div class="row" ng-if="outing.associations.images.length">
            <div class="col-sm-12" >
                <gallery images="outing.associations.images"/>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-9 b-r">
                <p>
                    <i class="fa fa-chevron-right" uib-tooltip="{{'Areas' | translate }}"></i>
                    <i areas="outing.areas"></i>
                </p>

                <p>
                    <div ng-repeat="route in outing.associations.routes">
                        <activities activities="route.activities"></activities>
                        <route-link route="route"></route-link>
                        <rating route="route"></rating>
                    </div>
                </p>

                <h2 ng-if="outing.locales[0].access_comment" translate>Acces comment</h2>
                <markdown content="outing.locales[0].access_comment"></markdown>

                <h2 ng-if="outing.locales[0].description" translate>Description</h2>
                <markdown content="outing.locales[0].description"></markdown>

                <h2 ng-if="outing.locales[0].route_description" translate>Route description</h2>
                <markdown content="outing.locales[0].route_description"></markdown>

                <h2 ng-if="outing.locales[0].conditions" translate>Conditions</h2>
                <markdown content="outing.locales[0].conditions"></markdown>

                <h2 ng-if="outing.locales[0].avalanches" translate>Observations relative to avalanches</h2>
                <markdown content="outing.locales[0].avalanches"></markdown>

                <h2 ng-if="outing.locales[0].hut_comment" translate>Hut comment</h2>
                <markdown content="outing.locales[0].hut_comment"></markdown>

                <h2 ng-if="outing.locales[0].timing" translate>Timing</h2>
                <markdown content="outing.locales[0].timing"></markdown>

            </div>

            <div class="col-sm-3 b-l item-header">
                <div>
                    <i class="fa fa-user" uib-tooltip="{{'Participants' | translate }}"></i>
                    <span ng-repeat="user in outing.associations.users">
                        <user-link user="user"></user-link>{{$last ? "" : ", "}}
                    </span>
                    {{outing.locales[0].participants}}
                </div>

                <div ng-if="outing.locales[0].weather">
                    <i class="fa fa-cloud" uib-tooltip="{{'Weather' | translate }}"></i>
                    {{outing.locales[0].weather}}
                </div>

                <div ng-if="outing.frequentation">
                    <i class="fa fa-users" uib-tooltip="{{'Frequentation' | translate }}"></i>
                    {{outing.frequentation | translate:'frequentation' }}
                </div>

                <div ng-if="outing.elevation_min || outing.elevation_max">
                    <label>
                        <span translate>elevation</span>
                    </label>
                    <span ng-if="outing.elevation_min">{{outing.elevation_min}}&nbsp;m</span>
                    <span ng-if="outing.elevation_min && outing.elevation_max">/</span>
                    <span ng-if="outing.elevation_max">{{outing.elevation_max}}&nbsp;m</span>
                </div>

                <div ng-if="outing.height_diff_down || outing.height_diff_up">
                    <label translate>height difference</label>
                    <span ng-if="outing.height_diff_up">+{{outing.height_diff_up}}&nbsp;m</span>
                    <span ng-if="outing.height_diff_up && outing.height_diff_down">/</span>
                    <span ng-if="outing.height_diff_down">-{{outing.height_diff_down}}&nbsp;m</span>
                </div>

                <div ng-if="outing.length_total">
                    <label translate>total length</label>
                    {{outing.length_total}} m
                </div>

                <div ng-if="outing.hut_status">
                    <label translate>hut status</label>
                    {{outing.hut_status | translate:'hut_status' }}
                </div>

                <div ng-if="outing.snow_quality">
                    <label translate>snow quality</label>
                    {{outing.snow_quality | translate:'snow_quality' }}
                </div>

                <div ng-if="outing.snow_quantity">
                    <label translate>snow quantity</label>
                    {{outing.snow_quantity | translate:'snow_quantity' }}
                </div>

                <div license type="'outing'" id="outing.document_id" cc="'by-nc-nd'"></div>

            </div>
        </div>
    </div>
</div>

