<div class="ibox">

    <div class="ibox-title">
        <h1>
            <i class="fa fa-history"></i>
            <span translate>Recent changes</span>
        </h1>
    </div>

    <div class="ibox-content">
        <ul>
            <li ng-repeat="version in ctrl.versions.versions">
                <a href="{{version.name}}?diff={{version.hid}}">[diff]</a>
                <a href="{{version.name}}?oldid={{version.hid}}">
                    {{version.date | date }}
                    <span translate>at</span>
                    {{version.date | date :'HH:mm' }}
                </a>
                <a href="/user/{{version.user}}">{{version.user}}</a>
                <a ui-sref="document({name:version.name})">{{version.name}}</a>
                :
                <span class="history-comment">{{version.comment}}</span>
            </li>
        </ul>
    </div>
</div>