<div class="ibox">

    <div class="ibox-title">
        <h1>
            <i class="fa fa-list"></i>
            <span translate>Recent changes</span>
        </h1>
    </div>

    <div class="ibox-content">

        <div class="row">
            <div class="col-md-12">
                <a ng-if="ctrl.params.offset!=0" ui-sref="recentchanges({offset:ctrl.params.offset - 30})">
                    30 newest changes
                </a>
                <a ui-sref="recentchanges({offset:ctrl.params.offset + 30})">
                    30 older changes
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li ng-repeat="version in ctrl.versions.versions">
                        <a class="badge badge-primary" ui-sref="diff({name:version.name, hid:version.hid})">diff</a>
                        <a class="badge badge-info" ui-sref="edit({name:version.name, hid:version.hid})">edit</a>
                        <a ui-sref="oldDocument({name:version.name, hid:version.hid})">
                            {{version.date | date }}
                            <span translate>at</span>
                            {{version.date | date :'HH:mm' }}
                        </a>
                        <a ui-sref="document({name:version.name})">{{version.name}}</a>
                        <a href="/contributions/{{version.user}}">{{version.user}}</a>
                        :
                        <span class="history-comment">{{version.comment}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>