<div class="ibox float-e-margins route-view">
    <div class="ibox-title">
        <h1>
            <i class="fa fa-road"></i>
            <route-link-c2c route="route"></route-link-c2c>
        </h1>
        <span class="hidden-print" ng-if="route.associations.recent_outings.documents.length!=0">
            <linked-outings item="route"></linked-outings>
            <outing-images item="route"></outing-images>
            <stories item="route"></stories>
        </span>
        <span class="pull-right hidden-print">
            <a href="https://www.camptocamp.org/outings/add#r={{route.document_id}}"
               uib-tooltip="{{'Add your outing' | translate }}"
               target="_blank"
               class="add-outing-button">
                <i class="fa fa-plus"></i>
            </a>
            <i class="fa fa-star follow-button"
               ng-click="currentUser.toggleFollow(route)"
               ng-class="{'followed-icon':currentUser.isFollowed(route)}"
               uib-tooltip="{{'Follow' | translate }}"></i>
        </span>
        <div style="clear:both"></div>
    </div>

    <div class="ibox-content item-metadata hidden-print">
        <div class="row item-header">
            <div class="col-sm-8">
                <i class="fa fa-chevron-right" uib-tooltip="{{'Areas' | translate }}"></i>
                <i areas="route.areas"></i>
            </div>
            <div class="col-sm-4">
                <label translate>Credits</label>
                <span license type="'route'" id="route.document_id" cc="'by-sa'"></span>
            </div>
        </div>

        <div class="row item-header">
            <div class="col-sm-4">

                <div>
                    <label translate>activities</label>
                    <activities activities="route.activities"></activities>
                    <rating route="route"></rating>
                </div>

                <div ng-if="route.height_diff_difficulties">
                    <label translate>difficulties height</label>
                    {{route.height_diff_difficulties}}&nbsp;m
                </div>

                <div ng-if="route.route_types">
                    <label translate>route type</label>
                    {{translateArray(route.route_types).join(', ')}}
                </div>

                <div>
                    <label translate>glacier gears</label>
                    {{route.glacier_gear | translate}}
                </div>

            </div>

            <div class="col-sm-4">

                <div ng-if="route.configuration">
                    <label translate>configuration</label>
                    {{translateArray(route.configuration).join(', ')}}
                </div>

                <div ng-if="route.orientations">
                    <label translate>orientation</label>
                    {{translateArray(route.orientations).join(', ')}}
                </div>

                <div ng-if="route.height_diff_up || route.height_diff_down">
                    <label translate>height difference</label>
                    <span ng-if="route.height_diff_up">+{{route.height_diff_up}}&nbsp;m</span>
                    <span ng-if="route.height_diff_up && route.height_diff_down">/</span>
                    <span ng-if="route.height_diff_down">-{{route.height_diff_down}}&nbsp;m</span>
                </div>

                <div ng-if="route.elevation_min || route.elevation_max">
                    <label>
                        <span translate>elevation</span>
                        <span ng-if="route.elevation_min">min</span><span ng-if="route.elevation_min && route.elevation_max">/</span><span ng-if="route.elevation_max">max</span>
                    </label>
                    <span ng-if="route.elevation_min">{{route.elevation_min}}&nbsp;m</span>
                    <span ng-if="route.elevation_min && route.elevation_max">/</span>
                    <span ng-if="route.elevation_max">{{route.elevation_max}}&nbsp;m</span>
                </div>

                <div ng-if="route.route_length">
                    <label translate>Route length</label>{{route.route_length}}&nbsp;m
                </div>

            </div>

            <div class="col-sm-4">
                <strong translate>Waypoints</strong>
                <waypoint-list waypoints="route.associations.waypoints"></waypoint-list>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">

                <div class="summary hidden-print" ng-if="currentLocale.summary" >
                    <markdown content="currentLocale.summary"></markdown>
                </div>

                <h2 ng-if="currentLocale.description" translate>Description</h2>
                <markdown content="currentLocale.description"></markdown>

                <h2 ng-if="currentLocale.remarks" translate>Remarks</h2>
                <markdown content="currentLocale.remarks"></markdown>

                <h2 ng-if="currentLocale.gear" translate>Gears</h2>
                <markdown content="currentLocale.gear"></markdown>

                <div class="hidden-print">
                    <h2 ng-if="currentLocale.route_history" translate>History</h2>
                    <markdown content="currentLocale.route_history"></markdown>
                </div>

                <div class="hidden-print" ng-if="route.associations.recent_outings.documents.length!=0">
                    <h2>
                        <span translate>Recent outings</span>
                    </h2>
                    <outing-list outings="route.associations.recent_outings.documents"></outing-list>
                </div>

                <div gallery class="col-sm-12" ng-if="route.associations.images.length"
                     images="route.associations.images"></div>
            </div>
        </div>
    </div>
</div>
