<div class="ibox float-e-margins route-view">
    <div class="ibox-title">
        <h1>
            <i class="fa fa-road"></i>
            <route-link-c2c route="route"></route-link-c2c>
        </h1>
        <span class="hidden-print" ng-if="route.associations.recent_outings.documents.length!=0">
            <linked-outings item="route"></linked-outings>
            <outing-images item="route"></outing-images>
            <stories item="route"></stories>
        </span>
        <span class="pull-right hidden-print">
            <a href="https://www.camptocamp.org/outings/add#r={{route.document_id}}"
               uib-tooltip="{{'Add your outing' | translate }}"
               target="_blank"
               class="add-outing-button">
                <i class="fa fa-plus"></i>
            </a>
        </span>
        <div style="clear:both"></div>
    </div>

    <div class="ibox-content item-metadata hidden-print">
        <div class="row item-header">
            <div class="col-sm-8">
                <i class="fa fa-chevron-right" uib-tooltip="{{'Areas' | translate }}"></i>
                <i areas="route.areas"></i>
            </div>
            <div class="col-sm-4">
                <label translate>Credits</label>
                <span license type="'route'" id="route.document_id" cc="'by-sa'"></span>
            </div>
        </div>

        <div class="row item-header">
            <div class="col-sm-4">

                <div>
                    <label translate>activities</label>
                    <activities activities="route.activities"></activities>
                    <rating route="route"></rating>

                    <span ng-if="route.hiking_rating" uib-tooltip="{{'Hiking rating' | translate }}">
                        {{route.hiking_rating}}
                    </span>
                </div>

                <div ng-if="route.slackline_type">
                    <label translate>type</label>
                    {{route.slackline_type}}
                </div>

                <div ng-if="route.height_diff_difficulties">
                    <label translate>difficulties height</label>
                    {{route.height_diff_difficulties}}&#8239;m
                </div>

                <div ng-if="route.route_types">
                    <label translate>route type</label>
                    {{translateArray(route.route_types).join(', ')}}
                </div>

                <div ng-if="glacier_gear">
                    <label translate>glacier gears</label>
                    {{route.glacier_gear | translate}}
                </div>

            </div>

            <div class="col-sm-4">

                <div ng-if="route.configuration">
                    <label translate>configuration</label>
                    {{translateArray(route.configuration).join(', ')}}
                </div>

                <div ng-if="route.orientations">
                    <label translate>orientation</label>
                    {{translateArray(route.orientations).join(', ')}}
                </div>

                <div ng-if="route.height_diff_up || route.height_diff_down">
                    <label translate>height difference</label>
                    <span ng-if="route.height_diff_up">+{{route.height_diff_up}}&#8239;m</span>
                    <span ng-if="route.height_diff_up && route.height_diff_down">/</span>
                    <span ng-if="route.height_diff_down">-{{route.height_diff_down}}&#8239;m</span>
                </div>

                <div ng-if="route.elevation_min || route.elevation_max">
                    <label>
                        <span translate>elevation</span>
                        <span ng-if="route.elevation_min">min</span><span ng-if="route.elevation_min && route.elevation_max">/</span><span ng-if="route.elevation_max">max</span>
                    </label>
                    <span ng-if="route.elevation_min">{{route.elevation_min}}&#8239;m</span>
                    <span ng-if="route.elevation_min && route.elevation_max">/</span>
                    <span ng-if="route.elevation_max">{{route.elevation_max}}&#8239;m</span>
                </div>

                <div ng-if="route.route_length">
                    <label translate>Route length</label>
                    {{route.route_length}}&#8239;m
                </div>


                <div ng-if="route.slackline_height">
                    <label translate>height</label>
                    {{route.slackline_height}}&#8239;m
                </div>


            </div>

            <div class="col-sm-4">
                <strong translate>Waypoints</strong>
                <div ng-repeat="waypoint in route.associations.waypoints">
                    <waypoint-link waypoint="waypoint"/>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">

                <div class="summary hidden-print" ng-if="currentLocale.summary" >
                    <markdown content="currentLocale.summary"></markdown>
                </div>

                <h2 ng-if="currentLocale.description" translate>Description</h2>
                <markdown content="currentLocale.description"></markdown>

                <h2 ng-if="currentLocale.slackline_anchor1" translate>Anchor 1</h2>
                <markdown content="currentLocale.slackline_anchor1"></markdown>

                <h2 ng-if="currentLocale.slackline_anchor2" translate>Anchor 2</h2>
                <markdown content="currentLocale.slackline_anchor2"></markdown>

                <h2 ng-if="currentLocale.remarks" translate>Remarks</h2>
                <markdown content="currentLocale.remarks"></markdown>

                <h2 ng-if="currentLocale.gear" translate>Gears</h2>
                <markdown content="currentLocale.gear"></markdown>

                <div class="hidden-print">
                    <h2 ng-if="currentLocale.route_history" translate>History</h2>
                    <markdown content="currentLocale.route_history"></markdown>
                </div>

                <div class="hidden-print" ng-if="route.associations.recent_outings.documents.length!=0">
                    <h2>
                        <span translate>Recent outings</span>
                    </h2>
                    <outings data="route.associations.recent_outings" display="'compact'"/>
                </div>

                <div class="hidden-print" ng-if="route.associations.books.length!=0">
                    <h2>
                        <span translate>Books</span>
                    </h2>
                    <ul>
                        <li ng-repeat="book in route.associations.books">
                            <i>{{book.locales[0].title}}</i>, {{book.author}}
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 hidden-print" ng-if="route.associations.images.length">
                    <gallery images="route.associations.images"/>
                </div>
            </div>
        </div>
    </div>
</div>