<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3 translate>Search results</h3>
            </div>
            <div class="ibox-content" style="display: block;">
                <div class="row">

                    <div class="col-sm-6 b-r">
                        <h4>
                            <i class="fa fa-road"></i>
                            <span translate>Routes</span>
                        </h4>
                        <div ng-repeat="route in data.result.routes.documents">
                            <route-link route="route"></route-link>
                            <rating route="route"></rating>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <h4>
                            <i class="fa fa-map-marker"></i>
                            <span translate>Waypoints</span>
                        </h4>
                        <div ng-repeat="waypoint in data.result.waypoints.documents">
                            <waypoint-link waypoint="waypoint"></waypoint-link>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>