<div class="ibox float-e-margins stories-view">
    <div class="ibox-title">
        <div ng-if="c2cItem.type=='r'">
            <h1>
                <i class="fa fa-road"></i>
                <route-link route="c2cItem"></route-link>
            </h1>
            <outing-images item="c2cItem"></outing-images>
        </div>
        <div ng-if="!c2cItem.type || c2cItem.type=='u'">
            <h1>
                <i class="fa fa-user"></i>
                <user-link-c2c user="c2cItem"></user-link-c2c>
            </h1>
            <linked-outings item="c2cItem" item-type="'u'"></linked-outings>
            <outing-images item="c2cItem" item-type="'u'"></outing-images>
        </div>
    </div>

    <div class="ibox-content" style="display: block;">
        <div class="row" infinite-scroll="loadMore()">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div ng-repeat="outing in data.documents" ng-if="outing.locales[0].description">
                    <h3>
                        <i class="fa fa-file-image-o"></i>
                        <outing-link outing="outing"></outing-link>
                        <small>{{outing.date_start}}</small>
                        &nbsp;
                    </h3>

                    <p>
                        <i class="fa fa-user" uib-tooltip="{{'Participants' | translate }}"></i>
                        <span ng-repeat="user in outing.associations.users">
                            <user-link user="user"></user-link>{{$last ? "" : ", "}}
                        </span>
                        {{outing.locales[0].participants}}
                    </p>

                    <markdown content="outing.locales[0].description"></markdown>

                    <div gallery ng-if="outing.associations.images.length"
                         images="outing.associations.images"></div>
                    <hr ng-if="!$last">
                </div>
            </div>
        </div>
    </div>
</div>


