<div class="ibox float-e-margins user-view">
    <div class="ibox-title">
        <h1>
            <i class="fa fa-user"></i>
            <user-link-c2c user="user"></user-link-c2c>
        </h1>
        <linked-outings item="user" item-type="'u'"></linked-outings>
        <outing-images item="user" item-type="'u'"></outing-images>
    </div>

    <div class="ibox-content" style="display: block;">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div ng-repeat="outing in outings.documents" ng-if="outing.locales[0].description">
                    <h3>
                        <i class="fa fa-file-image-o"></i>
                        <outing-link outing="outing"></outing-link>
                        <small>{{outing.date_start}}</small>
                        &nbsp;
                    </h3>

                    <markdown content="outing.locales[0].description"></markdown>

                    <div gallery ng-if="outing.associations.images.length"
                         images="outing.associations.images"></div>

                </div>
            </div>
        </div>
    </div>
</div>


