<div class="ibox float-e-margins waypoint-view">
    <div class="ibox-title">
        <h1>
            <i class="fa fa-map-marker"></i>
            <waypoint-link-c2c waypoint="waypoint"></waypoint-link-c2c>
        </h1>
        <linked-routes item="waypoint"></linked-routes>
        <linked-outings item="waypoint"></linked-outings>
    </div>

    <div class="ibox-content item-metadata">

        <div class="row item-header">
            <div class="col-sm-8">
                <i class="fa fa-chevron-right" uib-tooltip="{{'Areas' | translate }}"></i>
                <i areas="waypoint.areas"></i>
            </div>
            <div class="col-sm-4">
                <label translate>Credits</label>
                <span license type="'waypoint'" id="waypoint.document_id" cc="'by-sa'"></span>
            </div>
        </div>

        <div class="row item-header">
            <div class="col-sm-4">

                <div ng-if="waypoint.waypoint_type">
                    <label translate>waypoint_type</label>
                    {{waypoint.waypoint_type | translate}}
                </div>

                <div ng-if="waypoint.elevation">
                    <label translate>elevation</label>
                    {{waypoint.elevation}}m
                </div>
                <div ng-if="waypoint.height_max || waypoint.height_min">
                    <label translate>height</label>
                    <span ng-if="waypoint.height_min">{{waypoint.height_min}}&nbsp;m</span>
                    <span ng-if="waypoint.height_min && waypoint.height_max">/</span>
                    <span ng-if="waypoint.height_max">{{waypoint.height_max}}&nbsp;m</span>
                </div>
                <div ng-if="waypoint.height_median">
                    <label translate>height_median</label>
                    {{waypoint.height_median}}
                </div>
                <div ng-if="waypoint.climbing_outdoor_types">
                    <label translate>climbing_outdoor_types</label>
                    {{translateArray(waypoint.climbing_outdoor_types).join(', ')}}
                </div>
                <div ng-if="waypoint.climbing_styles">
                    <label translate>climbing_styles</label>
                    {{translateArray(waypoint.climbing_styles).join(', ')}}
                </div>
                <div ng-if="waypoint.climbing_rating_min || waypoint.climbing_rating_max">
                    <label translate>climbing_rating</label>
                    <span ng-if="waypoint.climbing_rating_min">{{waypoint.climbing_rating_min}}</span>
                    <span ng-if="waypoint.climbing_rating_min && waypoint.climbing_rating_max">/</span>
                    <span ng-if="waypoint.climbing_rating_max">{{waypoint.climbing_rating_max}}</span>
                </div>
                <div ng-if="waypoint.climbing_rating_median">
                    <label translate>climbing_rating_median</label>
                    {{waypoint.climbing_rating_median}}
                </div>

            </div>
            <div class="col-sm-4">
                <div ng-if="waypoint.orientations && waypoint.orientations.length != 0">
                    <label translate>orientations</label>
                    {{waypoint.orientations.join(', ')}}
                </div>
                <div ng-if="waypoint.best_periods && waypoint.best_periods.length != 0">
                    <label translate>best_periods</label>
                    {{translateArray(waypoint.best_periods).join(', ')}}
                </div>
                <div ng-if="waypoint.routes_quantity">
                    <label translate>routes_quantity</label>
                    {{waypoint.routes_quantity}}
                </div>
                <div ng-if="waypoint.access_time">
                    <label translate>access_time</label>
                    {{waypoint.access_time}}
                </div>

            </div>
            <div class="col-sm-4">
                <div ng-if="waypoint.protected">
                    <label translate>protected</label>
                    {{waypoint.protected}}
                </div>

                <div ng-if="waypoint.equipment_ratings && waypoint.equipment_ratings.length!=0">
                    <label translate>equipment_ratings</label>
                    {{waypoint.equipment_ratings.join(", ")}}
                </div>

                <div ng-if="waypoint.rock_types">
                    <label translate>rock_types</label>
                    {{waypoint.rock_types.join(", ")}}
                </div>
                <div ng-if="waypoint.rain_proof">
                    <label translate>rain_proof</label>
                    {{waypoint.rain_proof | translate}}
                </div>
                <div ng-if="waypoint.children_proof">
                    <label translate>children_proof</label>
                    {{waypoint.children_proof | translate}}
                </div>

            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">

                <h2 ng-if="currentLocale.description" translate>Description</h2>
                <markdown content="currentLocale.description"></markdown>

                <h2 ng-if="currentLocale.access" translate>Access</h2>
                <markdown content="currentLocale.access"></markdown>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 b-r" ng-if="waypoint.associations.all_routes.documents.length">

                <h2 translate>Routes</h2>
                <div ng-repeat="route in waypoint.associations.all_routes.documents">
                    <activities activities="route.activities"></activities>
                    <route-link route="route"></route-link>
                    <rating route="route"></rating>
                </div>
            </div>
            <div class="col-sm-6 b-r">

                <div ng-if="waypoint.associations.recent_outings.documents.length">
                    <h2 translate>Recent outings</h2>
                    <outings data="waypoint.associations.recent_outings" display="'compact'"/>
                </div>
                <div ng-if="waypoint.associations.waypoint_children.length">
                    <h2 translate>Waypoints</h2>
                    <div ng-repeat="waypoint in waypoint.associations.waypoint_children">
                        <waypoint-link waypoint="waypoint"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="waypoint.associations.images.length">
            <div class="col-sm-12">
                <div gallery images="waypoint.associations.images"></div>
            </div>
        </div>
    </div>
</div>
