<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    <a href="https://en.wikipedia.org/wiki/Reinventing_the_wheel" target="_blank" translate>
                        Because we are not genius...
                    </a>
                </h5>
            </div>
            <div class="ibox-content" style="display: block;">
                <ul>
                    <li>Data
                        <ul>
                            <li><a href="https://www.camptocamp.org/" target="_blank">camptocamp.org</a></li>
                        </ul>
                    </li>

                    <li>Code
                        <ul>
                            <li>
                                <a href="https://www.python.org/" target="_blank">Python</a>
                                <ul>
                                    <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
                                    <li><a href="http://www.django-rest-framework.org/" target="_blank">Django REST framework</a></li>


                                </ul>
                            </li>
                            <li><a href="https://jquery.com/" target="_blank">JQuery</a></li>
                            <li>
                                <a href="https://angularjs.org/" target="_blank">Angular</a>
                                <ul>
                                    <li><a href="http://ui-grid.info/" target="_blank">UI-grid</a></li>
                                    <li><a href="https://github.com/a8m/angular-filter/" target="_blank">Angular-filter</a></li>
                                    <li><a href="https://github.com/angular-ui/ui-codemirror" target="_blank">CodeMirror directive</a></li>

                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>Graphics
                        <ul>
                            <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                            <li><a href="https://wrapbootstrap.com/theme/inspinia-responsive-admin-theme-WB0R5L90S" target="_blank">Inspinia</a>
                            </li>
                            <li><a href="https://icons8.com/" target="_blank">icons8.com</a></li>
                            <li><a href="http://codemirror.net/" target="_blank">codemirror.net</a></li>

                        </ul>
                    </li>

                    <li>Functionalities templates
                        <ul>
                            <li>
                                <a href="https://github.com/cornflourblue/angular-registration-login-example" target="_blank">angular-registration-login</a>
                            </li>
                            <li>
                                <a href="https://github.com/richtier/blof" target="_blank">REST auth</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        Docs
                        <ul>
                            <li>
                                <a target="_blank" href="https://simpleisbetterthancomplex.com/tutorial/2016/07/22/how-to-extend-django-user-model.html">
                                    User models in Django
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        Futur
                        <ul>
                            <li>
                                <a href="https://github.com/rafalp/misago" target="_blank">
                                    Misango forum?
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

