<div class="home-view">
    <div class="row">
        <div class="col-lg-12 no-padding">
            <div ng-controller="imagesController" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Images</h3>
                    <ibox-tools></ibox-tools>
                </div>
                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>
                    <gallery images="data.documents"></gallery>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 no-padding outing-box">
            <div id="outings" ng-controller="outingsController" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 translate>Outings</h3>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>

                    <div ng-repeat="(date, values) in data.documents | groupBy: 'date_start'">
                        <h4>{{ date | date }}</h4>
                        <div ng-repeat="outing in values" class="outing-line">
                            <div class="pull-left">
                                <outing-link outing="outing"></outing-link>
                                <condition-icon condition="outing.condition_rating"></condition-icon>
                            </div>
                            <div class="pull-right">
                                <activities activities="outing.activities"></activities>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-5 no-padding">
            <div ng-controller="articlesController" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Articles</h3>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>
                    <ul>
                        <li ng-repeat="article in data.documents|limitTo:5">
                        <span>
                            <article-link-c2c article="article"></article-link-c2c>
                        </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-controller="routesController" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Routes</h3>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content" style="display: block;">
                    <loading-info></loading-info>
                    <ul>
                        <li ng-repeat="route in data.documents|limitTo:25">
                        <span>
                            <activities activities="route.activities"></activities>
                            <route-link route="route"></route-link>
                        </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
